openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal API Chat API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: API Chat
paths:
  /apis/{apiId}/api-chat:
    post:
      security:
      - OAuth2Security:
        - apim:subscribe
      summary: Test API using a natural language query
      description: 'Executes a test scenario against an API; which iteratively provide resources that need to be

        invoked alongside the inputs such as parameters, payloads, etc. while caching the progress.'
      operationId: apiChatPost
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/action'
      requestBody:
        description: 'API Chat request body

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiChatRequest'
      tags:
      - API Chat
      responses:
        201:
          description: 'Created.

            API Chat action completed.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiChatResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          description: 'Internal Server Error.

            An error occurred while invoking the API Chat service.

            '
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X POST -H "Content-Type: application/json" -d @request.json "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/api-chat?apiChatAction=EXECUTE"'
components:
  parameters:
    action:
      name: apiChatAction
      in: query
      description: 'Action to be performed on API Chat AI Agent. Specifies whether ''prepare'' or ''execute''

        '
      schema:
        type: string
        enum:
        - PREPARE
        - EXECUTE
    apiId:
      name: apiId
      in: path
      description: '**API ID** consisting of the **UUID** of the API.

        '
      required: true
      schema:
        type: string
  schemas:
    ApiChatRequest:
      title: API Chat request
      properties:
        apiChatRequestId:
          type: string
          description: 'Request UUID

            '
          example: faae5fcc-cbae-40c4-bf43-89931630d313
        command:
          type: string
          description: 'User specified testcase to be tested against the API

            '
          example: Get pet with id 123
        apiSpec:
          type: object
          properties:
            serviceUrl:
              type: string
              description: Service URL of API if any
              example: https://localhost:8243/pizzashack/1.0.0
            tools:
              type: array
              description: Extracted Http tools from the OpenAPI specification
              items:
                type: object
                example:
                  name: GET-order_orderId
                  description: Get details of an Order by providing Order Id. This tool invokes a HTTP GET resource
                  method: GET
                  path: /order/{orderId}
                  parameters:
                    orderId:
                      location: path
                      description: Order Id
                      required: true
                      style: simple
                      explode: false
                      schema:
                        type: string
                        format: string
        response:
          type: object
          properties:
            code:
              type: integer
              description: HTTP status code of the response
              example: 201
            path:
              type: string
              description: HTTP path url with encoded parameters
              example: /order/123
            headers:
              type: object
              description: Response headers
              example:
                contentType: application/json
            body:
              type: object
              description: Response payload
              example:
                orderId: 300ada62-81bd-4c89-bdfa-983de3cadd77
                pizzaType: Pepperoni
                quantity: 2
                customerName: John Doe
                creditCardNumber: '1234567890123456'
                address: 123 Main St
                delivered: false
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    SampleQuery:
      title: API Chat sample query record
      required:
      - scenario
      - query
      properties:
        scenario:
          type: string
          description: scenario
        query:
          type: string
          description: generated query
    ApiChatResponse:
      title: API Chat response
      properties:
        apiSpec:
          type: object
          title: Enriched API spec
          required:
          - tools
          properties:
            serviceUrl:
              type: string
              description: Extracted service URL from the OpenAPI specification if there is any
              example: https://localhost:8243/pizzashack/1.0.0
            tools:
              type: array
              description: Extracted Http tools from the OpenAPI specification
              items:
                type: object
                example:
                  name: GET-order_orderId
                  description: Get details of an Order by providing Order Id. This tool invokes a HTTP GET resource
                  method: GET
                  path: /order/{orderId}
                  parameters:
                    orderId:
                      location: path
                      description: Order Id
                      required: true
                      style: simple
                      explode: false
                      schema:
                        type: string
                        format: string
        taskStatus:
          type: string
          description: Task status (IN_PROGRESS, TERMINATED or COMPLETED)
          enum:
          - IN_PROGRESS
          - TERMINATED
          - COMPLETED
          example: COMPLETED
        resource:
          type: object
          properties:
            method:
              type: string
              description: HTTP method of the resource
              example: GET
            path:
              type: string
              description: Path of the resource
              example: /order/{orderId}
            inputs:
              type: object
              description: Input parameters for the resource
              example:
                parameters:
                  orderId: '123'
        result:
          type: string
          description: completion result
          example: 'The pet with ID 123 is available. Here are the details: - ID: 123 - Name: asd - Status: available'
        queries:
          type: array
          description: list of sample queries
          items:
            $ref: '#/components/schemas/SampleQuery'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
  responses:
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    Unauthorized:
      description: Unauthorized. The user is not authorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            message: Unauthorized
            description: The user is not authorized
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
