openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal Throttling Policies API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: Throttling Policies
paths:
  /throttling-policies/{policyLevel}:
    get:
      tags:
      - Throttling Policies
      summary: Get All Available Throttling Policies
      description: This operation can be used to get all available application or subscription level throttling policies
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/policyLevel'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            List of throttling policies returned.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingPolicyList'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/throttling-policies/application"
      operationId: getThrottlingPoliciesByPolicyLevel
      x-operation-id-source: derived
  /throttling-policies/{policyLevel}/{policyId}:
    get:
      tags:
      - Throttling Policies
      summary: Get Details of a Throttling Policy
      description: 'This operation can be used to retrieve details of a single throttling policy by specifying the policy level and policy name.


        `X-WSO2-Tenant` header can be used to retrive throttling policy that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/policyId'
      - $ref: '#/components/parameters/policyLevel'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            Throttling Policy returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingPolicy'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/throttling-policies/application/10PerMin"
      operationId: getThrottlingPoliciesByPolicyLevelByPolicyId
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      title: Pagination
      type: object
      properties:
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 10
        total:
          type: integer
          example: 1
        next:
          type: string
          description: 'Link to the next subset of resources qualified.

            Empty if no more resources are to be returned.

            '
          example: ''
        previous:
          type: string
          description: 'Link to the previous subset of resources qualified.

            Empty if current subset is the first subset returned.

            '
          example: ''
    ThrottlingPolicy:
      title: Throttling Policy
      required:
      - name
      - requestCount
      - stopOnQuotaReach
      - tierPlan
      - unitTime
      type: object
      properties:
        name:
          type: string
          example: Platinum
        description:
          type: string
          example: Allows 50 request(s) per minute.
        policyLevel:
          type: string
          example: subscription
          enum:
          - application
          - subscription
        attributes:
          type: object
          additionalProperties:
            type: string
          description: 'Custom attributes added to the throttling policy

            '
          example: {}
        requestCount:
          type: integer
          description: 'Maximum number of requests which can be sent within a provided unit time

            '
          format: int64
          example: 50
        dataUnit:
          description: 'Unit of data allowed to be transfered. Allowed values are "KB", "MB" and "GB"

            '
          type: string
          example: KB
        unitTime:
          type: integer
          format: int64
          example: 60000
        timeUnit:
          type: string
          example: min
        rateLimitCount:
          type: integer
          default: 0
          description: Burst control request count
          example: 10
        rateLimitTimeUnit:
          type: string
          description: Burst control time unit
          example: min
        quotaPolicyType:
          type: string
          description: Default quota limit type
          enum:
          - REQUESTCOUNT
          - BANDWIDTHVOLUME
          example: REQUESTCOUNT
        tierPlan:
          type: string
          description: 'This attribute declares whether this tier is available under commercial or free

            '
          example: FREE
          enum:
          - FREE
          - COMMERCIAL
        stopOnQuotaReach:
          type: boolean
          description: 'If this attribute is set to false, you are capabale of sending requests

            even if the request count exceeded within a unit time

            '
          example: true
        monetizationAttributes:
          $ref: '#/components/schemas/MonetizationInfo'
        throttlingPolicyPermissions:
          $ref: '#/components/schemas/ThrottlingPolicyPermissionInfo'
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ThrottlingPolicyPermissionInfo:
      title: Throttling Policy Permission info object with throttling policy permission details
      type: object
      properties:
        type:
          type: string
          enum:
          - allow
          - deny
        roles:
          type: array
          description: roles for this permission
          example:
          - manager
          - developer
          items:
            type: string
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    ThrottlingPolicyList:
      title: Throttling Policy List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of Throttling Policies returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/ThrottlingPolicy'
        pagination:
          $ref: '#/components/schemas/Pagination'
    MonetizationInfo:
      title: Monetization
      type: object
      properties:
        billingType:
          type: string
          example: fixedPrice
          enum:
          - fixedPrice
          - dynamicRate
        billingCycle:
          type: string
          example: month
        fixedPrice:
          type: string
          example: '10'
        pricePerRequest:
          type: string
          example: '1'
        currencyType:
          type: string
          example: USD
  parameters:
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: 'Maximum size of resource array to return.

        '
      schema:
        type: integer
        default: 25
    policyLevel:
      name: policyLevel
      in: path
      description: 'List Application or Subscription type thro.

        '
      required: true
      schema:
        type: string
        enum:
        - application
        - subscription
    policyId:
      name: policyId
      in: path
      description: 'The name of the policy

        '
      required: true
      schema:
        type: string
    If-None-Match:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resourec.

        '
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Starting point within the complete list of items qualified.

        '
      schema:
        type: integer
        default: 0
  responses:
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
