openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal Marketplace Assistant…
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: Marketplace Assistant
paths:
  /marketplace-assistant/api-count:
    get:
      summary: API Count endpoint
      description: Get the api count of Marketplace Assistant AI service.
      operationId: getMarketplaceAssistantApiCount
      tags:
      - Marketplace Assistant
      responses:
        200:
          description: 'OK.

            Api Count is returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceAssistantApiCountResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          description: 'Internal Server Error.

            An error occurred while retrieving the API count.

            '
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/marketplace-assistant/api-count"
  /marketplace-assistant/chat:
    post:
      summary: Marketplace Assistant Chat Endpoint
      description: Send a single query to the service and get the response.
      operationId: marketplaceAssistantExecute
      requestBody:
        description: 'Marketplace Assistant chat request payload.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceAssistantRequest'
      tags:
      - Marketplace Assistant
      responses:
        201:
          description: 'Created.

            Marketplace Assistant chat response payload.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceAssistantResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          description: 'Internal Server Error.

            An error occurred while executing test using Marketplace Chat service.

            '
      x-code-samples:
      - lang: Curl
        source: curl -k -X POST -d request.json "https://localhost:9443/api/am/devportal/v3/apis/marketplace-assistant/chat"
components:
  schemas:
    MarketplaceAssistantApiCountResponse:
      required:
      - count
      - limit
      type: object
      properties:
        count:
          type: integer
          description: no of apis stored in the vectordb.
          example: '100'
        limit:
          type: integer
          description: maximum no of apis allowed for an org.
          example: '1000'
    ChatMessage:
      required:
      - content
      - role
      type: object
      properties:
        role:
          type: string
          description: user or assistant role of a chat message.
          example: assistant
        content:
          type: string
          description: content of the message.
          example: Hi, How can I help you?
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    MarketplaceAssistantResponse:
      required:
      - response
      type: object
      properties:
        response:
          type: string
          description: natural language response by the llm.
          example: Hi, How can I help you?
        apis:
          type: array
          items:
            $ref: '#/components/schemas/MarketplaceAssistantApi'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    MarketplaceAssistantApi:
      required:
      - apiId
      - apiName
      - version
      type: object
      properties:
        apiId:
          type: string
          description: Uuid of the api.
          example: 1sbdhsjd-121n-nknsjkd-1213njb
        apiName:
          type: string
          description: name of the api.
          example: PizzaShackAPI
        version:
          type: string
          description: version of the api.
          example: 1.0.0
    MarketplaceAssistantRequest:
      required:
      - query
      - history
      type: object
      properties:
        query:
          type: string
          description: natural langugae query given by the user.
          example: Hi
        history:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
  responses:
    TooManyRequests:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            message: TooManyRequests
            description: The user has exceeded the rate limit
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    Unauthorized:
      description: Unauthorized. The user is not authorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            message: Unauthorized
            description: The user is not authorized
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
