openapi: 3.2.0
info:
  version: v0.2
  title: WSO2 API Manager - DevOps Config API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - DevOps.
  contact:
    name: WSO2
    url: http://wso2.com/products/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/devops/v0
tags:
- name: Config
paths:
  /config/correlation/:
    get:
      summary: GET status of correlation log components
      responses:
        '200':
          description: Status of Correlation Log Components
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationComponentsList'
        '404':
          description: 'Not Found.

            Request component not found.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error while retrieving info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Basic YWRtaW46YWRtaW4=" "https://127.0.0.1:9443/api/am/devops/v0/config/correlation"'
      tags:
      - Config
      operationId: getConfigCorrelation
      x-operation-id-source: derived
    put:
      summary: Enable / Disable correlation logs
      description: This operation enables you to enable / disable correlation logs of the product. This operation can be done at the product level or at each component level by providing the componentName query parameter.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrelationComponentsList'
        description: 'The enable / disable correlation log status is provided as a payload.

          '
      responses:
        '200':
          description: Successfully Set the status of the correlation logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationComponentsList'
        '404':
          description: 'Not Found.

            Request components not found.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error while configuring the correlation log status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X PUT -H "Authorization: Basic YWRtaW46YWRtaW4=" -d data.json "https://127.0.0.1:9443/api/am/devops/v0/config/correlation"'
      tags:
      - Config
      operationId: putConfigCorrelation
      x-operation-id-source: derived
components:
  schemas:
    Error:
      title: Error object returned with 4XX HTTP Status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    CorrelationComponent:
      title: Correlation Component INFO object
      properties:
        name:
          type: string
          example: http
        enabled:
          type: string
          example: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/CorrelationComponentProperty'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
        description:
          type: string
          description: 'A detail description about the error message.

            '
    CorrelationComponentsList:
      title: correlation-components
      properties:
        components:
          type: array
          items:
            $ref: '#/components/schemas/CorrelationComponent'
    CorrelationComponentProperty:
      title: Properties for correlation components
      properties:
        name:
          type: string
          example: deniedThreads
        value:
          type: array
          items:
            type: string
            example: MessageDeliveryTaskPool
