openapi: 3.2.0
info:
  title: WSO2 API Manager - Admin AI Service Provider API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v4
servers:
- url: https://apis.wso2.com/api/am/admin/v4
tags:
- name: AIServiceProvider
paths:
  /ai-service-providers/{aiServiceProviderId}:
    put:
      tags:
      - AIServiceProvider
      summary: Update an AI Service provider
      description: Update a AI Service provider by AIServiceProviderId
      parameters:
      - $ref: '#/components/parameters/aiServiceProviderId'
      requestBody:
        description: 'AI Service Provider object with updated information

          '
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AIServiceProviderRequest'
        required: true
      responses:
        200:
          description: 'OK.

            AI Service Provider updated.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:llm_provider_manage
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" \ -F "name=UpdatedProviderName" \ -F "apiVersion=v2" \ -F "configurations={\"key\":\"value\"}" \ -F "apiDefinition=@api_definition.json" \ "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/{aiServiceProviderId}"'
      operationId: updateAIServiceProvider
    delete:
      tags:
      - AIServiceProvider
      summary: Delete a AI Service Provider
      description: Delete a AI Service Provider by aiServiceProviderId
      parameters:
      - $ref: '#/components/parameters/aiServiceProviderId'
      responses:
        200:
          description: 'OK.

            AI Service provider successfully deleted.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:llm_provider_manage
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: deleteAIServiceProvider
    get:
      tags:
      - AIServiceProvider
      summary: Get AI Service Provider
      description: Get a AI Service Provider
      parameters:
      - $ref: '#/components/parameters/aiServiceProviderId'
      responses:
        200:
          description: 'OK.

            OpenAPI specification

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderResponse'
      security:
      - OAuth2Security:
        - apim:admin
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: getAIServiceProvider
components:
  schemas:
    AIServiceProviderRequest:
      title: AIServiceProvider
      required:
      - name
      - apiVersion
      - configurations
      - apiDefinition
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          example: OpenAI
        apiVersion:
          maxLength: 255
          minLength: 1
          type: string
          example: 1.0.0
        description:
          maxLength: 1023
          type: string
          example: OpenAI LLM
        multipleModelProviderSupport:
          type: string
          description: 'Indicates whether the AI Service Provider supports multiple model providers.

            If true, the AI Service Provider can support multiple model providers.

            If false, the AI Service Provider supports only one model provider.

            '
          default: 'false'
        configurations:
          type: string
          description: LLM Provider configurations
        apiDefinition:
          type: string
          description: OpenAPI specification
          format: binary
        modelProviders:
          type: string
    ModelProvider:
      title: Model Provider
      type: object
      required:
      - name
      - models
      properties:
        models:
          type: array
          items:
            type: string
            example: gpt-4o
        name:
          type: string
          example: OpenAI
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    AIServiceProviderResponse:
      title: AIServiceProviderResponse
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: ece92bdc-e1e6-325c-b6f4-656208a041e9
        name:
          maxLength: 255
          minLength: 1
          type: string
          example: OpenAI
        apiVersion:
          maxLength: 255
          minLength: 1
          type: string
          example: 1.0.0
        builtInSupport:
          type: boolean
          description: Is built-in support
        multipleModelProviderSupport:
          type: boolean
          description: 'Indicates whether the AI Service Provider supports multiple model providers.

            If true, the AI Service Provider can support multiple model providers.

            If false, the AI Service Provider supports only one model provider.

            '
        description:
          maxLength: 1023
          type: string
          example: OpenAI LLM
        configurations:
          type: string
          description: LLM Provider configurations
        apiDefinition:
          type: string
          description: OpenAPI specification
        modelProviders:
          type: array
          description: List of model providers supported by the AI Service Provider
          items:
            $ref: '#/components/schemas/ModelProvider'
        deprecated:
          type: boolean
          description: Indicates if the LLM provider is deprecated
          example: false
  responses:
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
  parameters:
    aiServiceProviderId:
      name: aiServiceProviderId
      in: path
      description: 'AI Service Provider UUID

        '
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
