openapi: 3.2.0
info:
  title: WSO2 API Manager - Admin Workflows (Individual) API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v4
servers:
- url: https://apis.wso2.com/api/am/admin/v4
tags:
- name: Workflows (Individual)
paths:
  /workflows/{externalWorkflowRef}:
    get:
      tags:
      - Workflows (Individual)
      summary: Get Pending Workflow Details by External Workflow Reference
      description: Using this operation, you can retrieve complete details of a pending workflow request that either belongs to application creation, application subscription, application registration, api state change, user self sign up.. You need to provide the External_Workflow_Reference of the workflow Request to retrive it.
      parameters:
      - name: externalWorkflowRef
        in: path
        description: 'from the externel workflow reference we decide what is the the pending request that the are requesting.

          '
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK.

            Requested Workflow Pending is returned

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowInfo'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:api_workflow_view
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/workflows/c43a325c-260b-4302-81cb-768eafaa3aed"'
      operationId: getWorkflowsByExternalWorkflowRef
      x-operation-id-source: derived
  /workflows/update-workflow-status:
    post:
      tags:
      - Workflows (Individual)
      summary: Update Workflow Status
      description: This operation can be used to approve or reject a workflow task.
      parameters:
      - $ref: '#/components/parameters/workflowReferenceId-Q'
      requestBody:
        description: 'Workflow event that need to be updated

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        required: true
      responses:
        200:
          description: 'OK.

            Workflow request information is returned.

            '
          headers:
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:api_workflow_approve
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/workflows/update-workflow-status?workflowReferenceId=56e3a170-a7a7-45f8-b051-7e43a58a67e1"'
      operationId: postWorkflowsUpdateWorkflowStatus
      x-operation-id-source: derived
components:
  schemas:
    Workflow:
      title: workflow
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: 'This attribute declares whether this workflow task is approved or rejected.

            '
          example: APPROVED
          enum:
          - APPROVED
          - REJECTED
        attributes:
          type: object
          additionalProperties:
            type: string
          description: 'Custom attributes to complete the workflow task

            '
          example: {}
        description:
          type: string
          example: Approve workflow request.
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    WorkflowInfo:
      title: Workflow info object with basic workflow details
      type: object
      properties:
        workflowType:
          type: string
          description: 'Type of the Workflow Request. It shows which type of request is it.

            '
          example: APPLICATION_CREATION
          enum:
          - APPLICATION_CREATION
          - SUBSCRIPTION_CREATION
          - USER_SIGNUP
          - APPLICATION_REGISTRATION_PRODUCTION
          - APPLICATION_REGISTRATION_SANDBOX
          - APPLICATION_DELETION
          - API_STATE
          - API_PRODUCT_STATE
          - SUBSCRIPTION_DELETION
          - SUBSCRIPTION_UPDATE
          - REVISION_DEPLOYMENT
          - APPLICATION_UPDATE
        workflowStatus:
          type: string
          description: 'Show the Status of the the workflow request whether it is approved or created.

            '
          example: APPROVED
          enum:
          - APPROVED
          - CREATED
        createdTime:
          type: string
          description: 'Time of the the workflow request created.

            '
          example: 2020-02-10 10:10:19.704000
        updatedTime:
          type: string
          description: 'Time of the the workflow request updated.

            '
          example: 2020-02-10 10:10:19.704000
        referenceId:
          type: string
          description: 'Workflow external reference is used to identify the workflow requests uniquely.

            '
          example: 5871244b-d6f3-466e-8995-8accd1e64303
        properties:
          type: object
          properties: {}
        description:
          type: string
          description: 'description is a message with basic details about the workflow request.

            '
          example: Approve application [APP1] creation request from application creator - admin with throttling tier - 10MinPer
  responses:
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
  parameters:
    workflowReferenceId-Q:
      name: workflowReferenceId
      in: query
      description: 'Workflow reference id

        '
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
