openapi: 3.2.0
info:
  version: v2.3
  title: WSO2 API Manager - Gateway Get API Info API
  description: 'This document specifies a **RESTful API** for WSO2 **API Manager** - Gateway.

    Please see full swagger definition of the API which is written using swagger 2.0 specification.'
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/gateway/v2
tags:
- name: Get API Info
paths:
  /apis:
    get:
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X GET "https://127.0.0.1:9443/api/am/gateway/v2/apis?context=/pizza/1.0.0&version=1.0&tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      summary: Get the list of APIS by providing context and version
      description: 'This operation is used to get the API information from storage. If the Tenant domain is not provided

        carbon.super will be picked as the Tenant domain.'
      parameters:
      - name: context
        description: 'Context of the API

          '
        in: query
        schema:
          type: string
      - name: version
        description: 'version of the API

          '
        in: query
        schema:
          type: string
      - name: tenantDomain
        description: 'Tenant Domain of the API

          '
        in: query
        schema:
          type: string
      tags:
      - Get API Info
      responses:
        200:
          description: 'OK.

            APIS successfully retrieved from the storage for the API.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      operationId: getApis
      x-operation-id-source: derived
  /apis/{apiId}:
    get:
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X GET "https://127.0.0.1:9443/api/am/gateway/v2/apis/7a2298c4-c905-403f-8fac-38c73301631f?tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      summary: Get the subscription information of an API by providing the API uuid
      description: 'This operation is used to get the subscription information of an API from storage. If the Tenant domain is not provided

        carbon.super will be picked as the Tenant domain.'
      parameters:
      - name: apiId
        description: 'API ID of the API

          '
        in: path
        required: true
        schema:
          type: string
      - name: tenantDomain
        description: 'Tenant Domain of the API

          '
        in: query
        schema:
          type: string
      tags:
      - Get API Info
      responses:
        200:
          description: 'OK.

            APIS successfully retrieved from the storage for the API.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIInfo'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      operationId: getApisByApiId
      x-operation-id-source: derived
components:
  schemas:
    ApplicationInfo:
      properties:
        uuid:
          type: string
          example: d290f1ee-6c54-4b01-90e6-d701848f0851
        id:
          type: integer
          example: 1
        name:
          type: string
          example: PizzaAPP
        subName:
          type: string
          example: admin
        policy:
          type: string
          description: Application level throtting policy.
          example: Gold
        tokenType:
          type: string
          description: type of the token.
          example: JWT
        attributes:
          type: object
          additionalProperties:
            type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationKeyMapping'
    SubscriptionInfo:
      properties:
        subscriptionUUID:
          type: string
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        subscriptionPolicy:
          type: string
          example: Gold
        status:
          type: string
          example: UnBlocked
        application:
          $ref: '#/components/schemas/ApplicationInfo'
    URLMapping:
      properties:
        authScheme:
          type: string
          example: Application & Application User
        throttlingPolicy:
          type: string
          example: Unlimited
        httpMethod:
          type: string
          example: GET
        urlPattern:
          type: string
          example: /menu
        scopes:
          type: array
          items:
            type: string
            example: read
    APIList:
      title: API List
      properties:
        count:
          type: integer
          description: 'Number of APIs returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIMetaData'
    APIMetaData:
      properties:
        apiUUID:
          type: string
          description: UUID of API.
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        apiId:
          type: integer
          example: 1
        provider:
          type: string
          description: API Provider name.
          example: admin
        name:
          type: string
          description: Name of the API
          example: PizzaAPI
        version:
          type: string
          description: Version of the API.
          example: v1.0.0
        context:
          type: string
          description: Context of the API.
          example: /pizza/v1.0.0
        policy:
          type: string
          description: API level throttling policy.
          example: Gold
        apiType:
          type: string
          description: Type of the API.
          example: APIProduct
        isDefaultVersion:
          type: boolean
          description: Whether this is the default version of the API.
          example: false
        status:
          type: string
          description: Status of API.
          example: Published
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    APIInfo:
      title: Subscription Information for API.
      properties:
        apiUUID:
          type: string
          description: UUID of API.
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        apiId:
          type: integer
          example: 1
        provider:
          type: string
          description: API Provider name.
          example: admin
        name:
          type: string
          description: Name of the API
          example: PizzaAPI
        version:
          type: string
          description: Version of the API.
          example: v1.0.0
        context:
          type: string
          description: Context of the API.
          example: /pizza/v1.0.0
        policy:
          type: string
          description: API level throttling policy.
          example: Gold
        apiType:
          type: string
          description: Type of the API.
          example: APIProduct
        isDefaultVersion:
          type: boolean
          description: Whether this is the default version of the API.
          example: false
        status:
          type: string
          description: Status of API.
          example: Published
        urlMappings:
          type: array
          items:
            $ref: '#/components/schemas/URLMapping'
        subscripitons:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionInfo'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    ApplicationKeyMapping:
      properties:
        consumerKey:
          type: string
          example: d290f1ee-6c54-4b01-90e6-d701848f0851
        keyType:
          type: string
          example: Production
        keyManager:
          type: string
          example: Resident Key Manager
  responses:
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
