openapi: 3.2.0
info:
  version: v2.3
  title: WSO2 API Manager - Gateway Get Application Info API
  description: 'This document specifies a **RESTful API** for WSO2 **API Manager** - Gateway.

    Please see full swagger definition of the API which is written using swagger 2.0 specification.'
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/gateway/v2
tags:
- name: Get Application Info
paths:
  /applications:
    get:
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X GET "https://127.0.0.1:9443/api/am/gateway/v2/applications?name=PizzaAPP&tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      summary: Get the applications information by providing the application name or uuid
      description: 'This operation is used to get the application information from storage. If the Tenant domain is not

        provided carbon.super will be picked as the Tenant domain.'
      parameters:
      - name: name
        description: 'Name of the Application

          '
        in: query
        schema:
          type: string
      - name: uuid
        description: 'UUID of the Application

          '
        in: query
        schema:
          type: string
      - name: tenantDomain
        description: 'Tenant Domain of the Application

          '
        in: query
        schema:
          type: string
      tags:
      - Get Application Info
      responses:
        200:
          description: 'OK.

            Applications successfully retrieved from the storage.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      operationId: getApplications
      x-operation-id-source: derived
components:
  schemas:
    ApplicationInfo:
      properties:
        uuid:
          type: string
          example: d290f1ee-6c54-4b01-90e6-d701848f0851
        id:
          type: integer
          example: 1
        name:
          type: string
          example: PizzaAPP
        subName:
          type: string
          example: admin
        policy:
          type: string
          description: Application level throtting policy.
          example: Gold
        tokenType:
          type: string
          description: type of the token.
          example: JWT
        attributes:
          type: object
          additionalProperties:
            type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationKeyMapping'
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ApplicationList:
      title: Application List
      properties:
        count:
          type: integer
          description: 'Number of Applications returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationInfo'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    ApplicationKeyMapping:
      properties:
        consumerKey:
          type: string
          example: d290f1ee-6c54-4b01-90e6-d701848f0851
        keyType:
          type: string
          example: Production
        keyManager:
          type: string
          example: Resident Key Manager
  responses:
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
