openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal GraphQL Policies API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: GraphQL Policies
paths:
  /apis/{apiId}/graphql-policies/complexity:
    get:
      tags:
      - GraphQL Policies
      summary: Get the Complexity Related Details of an API
      description: This operation can be used to retrieve complexity related details belonging to an API by providing the API id.
      parameters:
      - $ref: '#/components/parameters/apiId'
      responses:
        200:
          description: 'OK.

            Requested complexity details returned.

            '
          headers:
            Content-Type:
              description: 'The content of the body.

                '
              schema:
                type: string
                default: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLQueryComplexityInfo'
        404:
          description: 'Not Found.

            Requested API does not contain any complexity details.

            '
          content: {}
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/graphql-policies/complexity"
      operationId: getApisByApiIdGraphqlPoliciesComplexity
      x-operation-id-source: derived
  /apis/{apiId}/graphql-policies/complexity/types:
    get:
      tags:
      - GraphQL Policies
      summary: Retrieve Types and Fields of a GraphQL Schema
      description: This operation can be used to retrieve all types and fields of the GraphQL Schema by providing the API id.
      parameters:
      - $ref: '#/components/parameters/apiId'
      responses:
        200:
          description: 'OK.

            Types and fields returned successfully.

            '
          headers:
            Content-Type:
              description: 'The content of the body.

                '
              schema:
                type: string
                default: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLSchemaTypeList'
        404:
          description: 'Not Found.

            Retrieving types and fields failed.

            '
          content: {}
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/graphql-policies/complexity/types"
      operationId: getApisByApiIdGraphqlPoliciesComplexityTypes
      x-operation-id-source: derived
components:
  schemas:
    GraphQLCustomComplexityInfo:
      title: GraphQL Custom Complexity Info
      required:
      - complexityValue
      - field
      - type
      type: object
      properties:
        type:
          type: string
          description: 'The type found within the schema of the API

            '
          example: Country
        field:
          type: string
          description: 'The field which is found under the type within the schema of the API

            '
          example: name
        complexityValue:
          type: integer
          description: 'The complexity value allocated for the associated field under the specified type

            '
          example: 1
    GraphQLSchemaTypeList:
      title: List of types and corresponding fields of the GraphQL Schema
      type: object
      properties:
        typeList:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLSchemaType'
    GraphQLQueryComplexityInfo:
      title: GraphQL Query Complexity Info
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLCustomComplexityInfo'
    GraphQLSchemaType:
      title: Single type and corresponding fields found within the GraphQL Schema
      type: object
      properties:
        type:
          type: string
          description: 'Type found within the GraphQL Schema

            '
          example: Country
        fieldList:
          type: array
          description: 'Array of fields under current type

            '
          example:
          - code
          - name
          items:
            type: string
  parameters:
    apiId:
      name: apiId
      in: path
      description: '**API ID** consisting of the **UUID** of the API.

        '
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
