openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal Ratings API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: Ratings
paths:
  /apis/{apiId}/ratings:
    get:
      tags:
      - Ratings
      summary: Retrieve API Ratings
      description: 'This operation can be used to retrieve the list of ratings of an API.


        `X-WSO2-Tenant` header can be used to retrieve ratings of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Rating list returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/ratings"
      operationId: getApisByApiIdRatings
      x-operation-id-source: derived
  /apis/{apiId}/user-rating:
    get:
      tags:
      - Ratings
      summary: Retrieve API Rating of User
      description: 'This operation can be used to get the user rating of an API.


        `X-WSO2-Tenant` header can be used to retrieve the logged in user rating of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            Rating returned.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modified the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        304:
          description: 'Not Modified.

            Empty body because the client already has the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: curl -k -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"
      operationId: getApisByApiIdUserRating
      x-operation-id-source: derived
    put:
      tags:
      - Ratings
      summary: Add or Update Logged in User's Rating for an API
      description: 'This operation can be used to add or update an API rating.


        `X-WSO2-Tenant` header can be used to add or update the logged in user rating of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      requestBody:
        description: 'Rating object that should to be added

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rating'
        required: true
      responses:
        200:
          description: 'OK.

            Successful response with the newly created or updated object as entity in the body.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional request.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X PUT -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"'
      operationId: putApisByApiIdUserRating
      x-operation-id-source: derived
    delete:
      tags:
      - Ratings
      summary: Delete User API Rating
      description: 'This operation can be used to delete logged in user API rating.


        `X-WSO2-Tenant` header can be used to delete the logged in user rating of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-Match'
      responses:
        200:
          description: 'OK.

            Resource successfully deleted.

            '
          content: {}
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: curl -k -X DELETE -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"
      operationId: deleteApisByApiIdUserRating
      x-operation-id-source: derived
  /mcp-servers/{mcpServerId}/ratings:
    get:
      tags:
      - Ratings
      summary: Retrieve MCP Server Ratings
      description: 'This operation can be used to retrieve the list of ratings of a MCP Server.


        `X-WSO2-Tenant` header can be used to retrieve ratings of a MCP Server that belongs to a different tenant

        domain. If not specified super tenant will be used. If Authorization header is present in the request, the

        user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/mcpServerId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Rating list returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/mcp-servers/e93fb282-b456-48fc-8981-003fb89086ae/ratings"
      operationId: getMCPServerRatings
  /mcp-servers/{mcpServerId}/user-rating:
    get:
      tags:
      - Ratings
      summary: Retrieve MCP Server Rating of User
      description: 'This operation can be used to get the user rating of a MCP Server.


        `X-WSO2-Tenant` header can be used to retrieve the logged in user rating of a MCP Server that belongs to a

        different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/mcpServerId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            Rating returned.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modified the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        304:
          description: 'Not Modified.

            Empty body because the client already has the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: curl -k -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/mcp-servers/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"
      operationId: getMCPServerRating
    put:
      tags:
      - Ratings
      summary: Add or Update Logged in User's Rating for a MCP Server
      description: 'This operation can be used to add or update a MCP Server rating.


        `X-WSO2-Tenant` header can be used to add or update the logged in user rating of a MCP Server that belongs to a

        different tenant domain. If not specified super tenant will be used. If Authorization header is present in

        the request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/mcpServerId'
      - $ref: '#/components/parameters/requestedTenant'
      requestBody:
        description: 'Rating object that should to be added

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rating'
        required: true
      responses:
        200:
          description: 'OK.

            Successful response with the newly created or updated object as entity in the body.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional request.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X PUT -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://localhost:9443/api/am/devportal/v3/mcp-servers/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"'
      operationId: addMCPServerRating
    delete:
      tags:
      - Ratings
      summary: Delete User MCP Server Rating
      description: 'This operation can be used to delete logged in user MCP Server rating.


        `X-WSO2-Tenant` header can be used to delete the logged in user rating of a MCP Server that belongs to a

        different tenant domain. If not specified super tenant will be used. If Authorization header is present in the

        request, the user''s tenant associated with the access token will be used.'
      parameters:
      - $ref: '#/components/parameters/mcpServerId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-Match'
      responses:
        200:
          description: 'OK.

            Resource successfully deleted.

            '
          content: {}
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: curl -k -X DELETE -H "Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/mcp-servers/e93fb282-b456-48fc-8981-003fb89086ae/user-rating"
      operationId: deleteMCPServerRating
components:
  schemas:
    Pagination:
      title: Pagination
      type: object
      properties:
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 10
        total:
          type: integer
          example: 1
        next:
          type: string
          description: 'Link to the next subset of resources qualified.

            Empty if no more resources are to be returned.

            '
          example: ''
        previous:
          type: string
          description: 'Link to the previous subset of resources qualified.

            Empty if current subset is the first subset returned.

            '
          example: ''
    Rating:
      title: Rating
      required:
      - rating
      type: object
      properties:
        ratingId:
          type: string
          readOnly: true
          example: 32acfa7a-77f8-4fe0-bb7f-a902f36546d0
        apiId:
          type: string
          readOnly: true
          example: e93fb282-b456-48fc-8981-003fb89086ae
        ratedBy:
          maxLength: 50
          type: string
          readOnly: true
          example: admin
        rating:
          type: integer
          example: 4
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    RatingList:
      title: Rating List
      type: object
      properties:
        avgRating:
          type: string
          description: 'Average Rating of the API

            '
          example: '4'
        userRating:
          type: integer
          description: 'Rating given by the user

            '
          example: 4
        count:
          type: integer
          description: 'Number of Subscriber Ratings returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/Rating'
        pagination:
          $ref: '#/components/schemas/Pagination'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
  parameters:
    If-Match:
      name: If-Match
      in: header
      description: 'Validator for conditional requests; based on ETag.

        '
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: 'Maximum size of resource array to return.

        '
      schema:
        type: integer
        default: 25
    If-None-Match:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resourec.

        '
      schema:
        type: string
    mcpServerId:
      name: mcpServerId
      in: path
      description: '**MCP Server ID** consisting of the **UUID** of the MCP Server.

        '
      required: true
      schema:
        type: string
    apiId:
      name: apiId
      in: path
      description: '**API ID** consisting of the **UUID** of the API.

        '
      required: true
      schema:
        type: string
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Starting point within the complete list of items qualified.

        '
      schema:
        type: integer
        default: 0
  responses:
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    UnsupportedMediaType:
      description: Unsupported Media Type. The entity of the request was not in a supported format.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 415
            message: Unsupported media type
            description: The entity of the request was not in a supported format
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
