openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal API Categories API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: API Categories
paths:
  /api-categories:
    get:
      tags:
      - API Categories
      summary: Get All API Categories
      description: Get all API categories
      parameters:
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Categories returned

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICategoryList'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/api-categories"
      operationId: getApiCategories
      x-operation-id-source: derived
components:
  schemas:
    APICategory:
      title: API Category
      required:
      - name
      type: object
      properties:
        id:
          type: string
          example: 01234567-0123-0123-0123-012345678901
        name:
          type: string
          example: Finance
        description:
          type: string
          example: Finance related APIs
    APICategoryList:
      title: API Category List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API categories returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APICategory'
  parameters:
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
