openapi: 3.2.0
info:
  title: WSO2 API Manager - Developer Portal Key Managers API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Developer Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v3
servers:
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: Key Managers
paths:
  /key-managers:
    get:
      tags:
      - Key Managers
      summary: Get All Key Managers
      description: Get all Key managers
      parameters:
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Key Manager list returned

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyManagerList'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/key-managers"'
      operationId: getKeyManagers
      x-operation-id-source: derived
components:
  schemas:
    KeyManagerInfo:
      title: Key Manager Info
      required:
      - name
      - type
      type: object
      properties:
        id:
          type: string
          example: 01234567-0123-0123-0123-012345678901
        name:
          type: string
          example: Resident Key Manager
        type:
          type: string
          example: default
        displayName:
          type: string
          description: 'display name of Keymanager

            '
          example: Resident Key Manager
        description:
          type: string
          example: This is Resident Key Manager
        enabled:
          type: boolean
          example: true
        availableGrantTypes:
          type: array
          items:
            type: string
            example: client_credentials
        tokenEndpoint:
          type: string
          example: https://localhost:9443/oauth2/token
        revokeEndpoint:
          type: string
          example: https://localhost:9443/oauth2/revoke
        userInfoEndpoint:
          type: string
          example: ''
        enableTokenGeneration:
          type: boolean
          example: true
        enableTokenEncryption:
          type: boolean
          example: false
          default: false
        enableTokenHashing:
          type: boolean
          example: false
          default: false
        enableOAuthAppCreation:
          type: boolean
          example: true
          default: true
        enableMapOAuthConsumerApps:
          type: boolean
          example: false
          default: false
        applicationConfiguration:
          type: array
          items:
            $ref: '#/components/schemas/KeyManagerApplicationConfiguration'
        alias:
          type: string
          description: 'The alias of Identity Provider.

            If the tokenType is EXCHANGED, the alias value should be inclusive in the audience values of the JWT token

            '
          example: https://localhost:9443/oauth2/token
        additionalProperties:
          type: object
          properties: {}
        tokenType:
          type: string
          description: The type of the tokens to be used (exchanged or without exchanged). Accepted values are EXCHANGED, DIRECT and BOTH.
          example: EXCHANGED
          default: DIRECT
          enum:
          - EXCHANGED
          - DIRECT
          - BOTH
    KeyManagerApplicationConfiguration:
      title: Key Manager application Configuration
      type: object
      properties:
        name:
          type: string
          example: consumer_key
        label:
          type: string
          example: Consumer Key
        type:
          type: string
          example: select
        required:
          type: boolean
          example: true
        mask:
          type: boolean
          example: true
        multiple:
          type: boolean
          example: true
        tooltip:
          type: string
          example: Enter username to connect to key manager
        default:
          type: object
          properties: {}
          example: admin
        values:
          type: array
          items:
            type: object
            properties: {}
        constraint:
          $ref: '#/components/schemas/ApplicationConfigurationConstraint'
    ApplicationConfigurationConstraint:
      title: Application Configuration Constraint
      type: object
      properties:
        type:
          type: string
          example: RANGE
        value:
          type: object
          properties: {}
          example: '{ "min": 60, "max": 3600 }'
    KeyManagerList:
      title: Key Manager List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of Key managers returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/KeyManagerInfo'
  parameters:
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:subscribe: Subscribe API
            apim:api_key: Generate API Keys
            apim:app_manage: Retrieve, Manage and Import, Export applications
            apim:sub_manage: Retrieve, Manage subscriptions
            apim:store_settings: Retrieve Developer Portal settings
            apim:sub_alert_manage: Retrieve, subscribe and configure Developer Portal alert types
            apim:app_import_export: Import and export applications related operations
            apim:admin: Manage all admin operations
