openapi: 3.2.0
info:
  title: Wso2 API Keys API
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
  description: 'Operations tagged APIKeys across 2 of this provider''s published API definitions: wso2-admin-api.yaml, wso2-devportal-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apis.wso2.com/api/am/admin/v4
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: API Keys
paths:
  /api-keys:
    get:
      tags:
      - API Keys
      summary: Get all API Keys
      description: Retrieve all API Keys.
      operationId: getAllAPIKeys
      responses:
        200:
          description: 'OK.

            API keys returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:admin
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X GET "https://127.0.0.1:9443/api/am/admin/v4/api-keys"'
    servers:
    - url: https://apis.wso2.com/api/am/admin/v4
  /api-keys/revoke:
    post:
      tags:
      - API Keys
      summary: Revoke an API Key
      description: Revoke an API Key for the API
      operationId: revokeAPIKeyFromAdmin
      requestBody:
        description: 'API key revoke object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRevokeRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key revoked successfully.

            '
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:admin
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/api-keys/ght65523-7650-4255-84fa-6cb171c1f779/d7cf8523-9180-4255-84fa-6cb171c1f779/PRODUCTION/revoke"'
    servers:
    - url: https://apis.wso2.com/api/am/admin/v4
  /apis/{apiId}/api-keys/generate:
    post:
      tags:
      - API Keys
      summary: Generate API Key
      description: Generate a self contained API Key for the API
      operationId: generateApiBoundApiKey
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key generation request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIAPIKeyGenerateRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key generated.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey_2'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/generate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /apis/{apiId}/api-keys/regenerate:
    post:
      tags:
      - API Keys
      summary: Regenerate API Key
      description: Regenerate a self contained API Key for the API specified by the key UUID
      operationId: regenerateAPIBoundAPIKey
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key renewal request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRenewRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key regenerated successfully.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey_2'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/regenerate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /apis/{apiId}/api-keys:
    get:
      tags:
      - API Keys
      summary: Get API Key(s) of a Given API
      description: Retrieve self contained API Key(s) for the API.
      operationId: getAPIBoundAPIKeys
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            API key(s) of a given API are returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIAPIKeyList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X GET "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /apis/{apiId}/api-keys/revoke:
    post:
      tags:
      - API Keys
      summary: Revoke API Key
      description: Revoke a self contained API Key for the API specified by the key UUID
      operationId: revokeAPIBoundAPIKey
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key revocation request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIAPIKeyRevokeRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key revoked successfully.

            '
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/revoke"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /apis/{apiId}/api-keys/associate:
    post:
      tags:
      - API Keys
      summary: Create an association for the API Key
      description: Create an association for a self contained API Key for the API
      operationId: associateAPIKey
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key association request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIAPIKeyAssociateRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key associated successfully.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyAssociation'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/associate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /apis/{apiId}/api-keys/dissociate:
    post:
      tags:
      - API Keys
      summary: Remove an Association for the API Key
      description: Remove an association a self contained API Key for the API specified by the key UUID
      operationId: dissociateAPIKey
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key dissociation request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyDissociateRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Removed association for the Api key successfully.

            '
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/apis/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/dissociate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/generate:
    post:
      tags:
      - API Keys
      summary: Generate API Key
      description: Generate a self contained API Key for the application
      operationId: applicationsApplicationIdApiKeysKeyTypeGeneratePost
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key generation request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyGenerateRequest'
        required: false
      responses:
        200:
          description: 'OK.

            Api key generated.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey_2'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/generate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/regenerate:
    post:
      tags:
      - API Keys
      summary: Regenerate API Key
      description: Regenerate a self contained API Key for the application specified by the key UUID
      operationId: regenerateAppBoundAPIKey
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key renewal request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRenewRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key regenerated successfully.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey_2'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/regenerate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}:
    get:
      tags:
      - API Keys
      summary: Get API Key(s) of a Given Type
      description: Retrieve self contained API Key(s) for the application specifying the key type in the URI.
      operationId: getAppBoundAPIKeys
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            API key(s) of given type are returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyList_2'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X GET "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/revoke:
    post:
      tags:
      - API Keys
      summary: Revoke API Key
      description: Revoke a self contained API Key for the application
      operationId: applicationsApplicationIdApiKeysKeyTypeRevokePost
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key revoke request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRevokeRequest_2'
        required: true
      responses:
        200:
          description: 'OK.

            Api key revoked successfully.

            '
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/revoke"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/subscriptions:
    get:
      tags:
      - API Keys
      summary: Get Subscribed APIs with API Key(s) of a Given Type
      description: Retrieve subscribed APIs with non-associated API Key(s) for the application specifying the key type in the URI.
      operationId: getSubscribedAPIsWithAPIKeys
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            Subscribed APIs along with the non-associated API key(s) of given type are returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribedAPIWithApiKeyList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X GET "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/subscriptions"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/associate:
    post:
      tags:
      - API Keys
      summary: Associate an API Key to the Application
      description: Create an association to a self contained API Key for the application
      operationId: associateAPIKeyToApp
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key association request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAPIKeyAssociateRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Api key associated successfully.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyAssociation'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/associate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/dissociate:
    post:
      tags:
      - API Keys
      summary: Remove the association of the API Key to the Application
      description: Remove the association to a self contained API Key for the application
      operationId: dissociateAPIKeyFromApp
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        description: 'API Key dissociation request object

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyDissociateRequest'
        required: true
      responses:
        200:
          description: 'OK.

            Removed association for the API key successfully.

            '
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/dissociate"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/{applicationId}/api-keys/{keyType}/associations:
    get:
      tags:
      - API Keys
      summary: Get API Key associations of a Given Type
      description: Retrieve API key associations for the application specifying the key type in the URI.
      operationId: getAPIKeyAssociationsForApp
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/keyType'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            API key associations of given type are returned.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyAssociationList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        412:
          $ref: '#/components/responses/PreconditionFailed'
      security:
      - OAuth2Security:
        - apim:subscribe
        - apim:app_manage
        - apim:api_key
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -X GET "https://localhost:9443/api/am/devportal/v3/applications/16cd2684-9657-4a01-a956-4efd89e96077/api-keys/PRODUCTION/associations"'
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
components:
  schemas:
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    APIKey:
      title: API Key details to invoke APIs
      type: object
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        apiName:
          type: string
          description: API Name
          example: NotificationsAPI
        applicationName:
          type: string
          description: Application Name
          example: DefaultApplication
        keyType:
          type: string
          description: Application Key Type
          example: PRODUCTION
          enum:
          - PRODUCTION
          - SANDBOX
        user:
          type: string
          description: Owner of the Application
          example: Bob
        issuedOn:
          type: integer
          format: int64
          description: Created time in Unix epoch milliseconds
          example: 1599196134000
        validityPeriod:
          type: integer
          format: int64
          example: 3600
        lastUsed:
          type:
          - integer
          - 'null'
          format: int64
          description: Last used time in Unix epoch milliseconds
          example: 1599196134000
    APIKeyRevokeRequest:
      title: API Key revoke request object
      type: object
      required:
      - keyUUID
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    APIKeyList:
      title: API Keys List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API keys returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIKey'
    AppAPIKeyAssociateRequest:
      title: API Key association request object
      type: object
      required:
      - keyUUID
      - apiUUID
      properties:
        apiUUID:
          type: string
          description: The unique identifier of the API.
          example: 2962f3bb-8330-438e-baee-0ee1d6434ba4
        keyUUID:
          type: string
          description: The UUID of the API key
    APIKeyRevokeRequest_2:
      title: API Key revoke request object
      type: object
      oneOf:
      - required:
        - apikey
      - required:
        - keyUUID
      properties:
        apikey:
          type: string
          description: API Key to revoke
          example: eyJoZWxsbyI6IndvcmxkIn0=.eyJ3c28yIjoiYXBpbSJ9.eyJ3c28yIjoic2lnbmF0dXJlIn0=
        keyUUID:
          type: string
          description: The UUID of the API key
    APIAPIKeyAssociateRequest:
      title: API Key association request object
      type: object
      required:
      - keyUUID
      - applicationUUID
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
        applicationUUID:
          type: string
          description: The UUID of the Application to be associated
    APIAPIKeyRevokeRequest:
      title: API Key revoke request object
      type: object
      required:
      - keyUUID
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
    ErrorListItem_2:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    APIAPIKeyGenerateRequest:
      title: API Key generation request object
      type: object
      properties:
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        keyType:
          type: string
          description: Type of the API key
          example: PRODUCTION
          enum:
          - PRODUCTION
          - SANDBOX
        validityPeriod:
          type: integer
          description: API key validity period
          format: int64
          example: 3600
        additionalProperties:
          type: object
          properties: {}
          description: Additional parameters if Authorization server needs any
    SubscribedAPIWithApiKeyList:
      title: Subscribed APIs with non-associated API keys
      type: object
      properties:
        count:
          type: integer
          description: 'Number of subscribed APIs with API keys returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIWithKeyInfo'
    APIAPIKeyList:
      title: API Keys List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API keys returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIAPIKeyInfo'
    APIKeyAssociationInfo:
      title: API Key association
      type: object
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        apiName:
          type: string
          description: API name
          example: NotificationAPI
        apiUUID:
          type: string
          description: The UUID of the API
        issuedOn:
          type: integer
          format: int64
          description: Created Time
          example: 2026-02-06 23:45:07
        validityPeriod:
          type: integer
          format: int64
          example: 3600
        lastUsed:
          type: integer
          format: int64
          description: Last used time as epoch milliseconds.
          example: null
    APIKeyInfo:
      title: API Key details to invoke APIs
      type: object
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        issuedOn:
          type: integer
          format: int64
          description: Created Time
          example: 3600
        validityPeriod:
          type: integer
          format: int64
          example: 3600
        lastUsed:
          type: integer
          format: int64
          description: Last used time as epoch milliseconds.
          example: 3600
    APIKeyAssociation:
      title: API Key association
      type: object
      properties:
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        apiName:
          type: string
          description: API name
          example: NotificationAPI
        applicationName:
          type: string
          description: Application name
          example: DefaultApplication
    Error_2:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem_2'
    APIKeyDissociateRequest:
      title: API Key dissociation request object
      type: object
      required:
      - keyUUID
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
    APIKeyGenerateRequest:
      title: API Key generation request object
      type: object
      properties:
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        validityPeriod:
          type: integer
          description: API key validity period
          format: int64
          example: 3600
        additionalProperties:
          type: object
          properties: {}
          description: Additional parameters if Authorization server needs any
    APIKeyRenewRequest:
      title: API Key renewal request object
      type: object
      required:
      - keyUUID
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
    APIKeyAssociationList:
      title: API Key Associations List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API key associations returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyAssociationInfo'
    APIAPIKeyInfo:
      title: API Key details to invoke APIs
      type: object
      properties:
        keyUUID:
          type: string
          description: The UUID of the API key
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        associatedApp:
          type: string
          description: Associated application
          example: DefaultApplication
        issuedOn:
          type: integer
          format: int64
          description: Created Time
          example: 2026-02-06 23:45:07
        validityPeriod:
          type: integer
          format: int64
          example: 3600
        lastUsed:
          type: integer
          format: int64
          description: Last used time as epoch milliseconds.
          example: 2026-02-06 23:45:07
    APIKey_2:
      title: API Key details to invoke APIs
      type: object
      properties:
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        apikey:
          type: string
          description: API Key
          example: eyJoZWxsbyI6IndvcmxkIn0=.eyJ3c28yIjoiYXBpbSJ9.eyJ3c28yIjoic2lnbmF0dXJlIn0=
        validityPeriod:
          type: integer
          format: int64
          example: 3600
    APIWithKeyInfo:
      title: API with API Key
      type: object
      properties:
        keyName:
          type: string
          description: API Key name
          example: Test_Key
        keyUUID:
          type: string
          description: The UUID of the API key
        apiName:
          type: string
          description: API name
          example: NotificationAPI
        apiUUID:
          type: string
          description: The UUID of the associated API
    APIKeyList_2:
      title: API Keys List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API keys returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyInfo'
  responses:
    PreconditionFailed:
      description: Precondition Failed. The request has not been performed because one of the preconditions is not met.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 412
            message: Precondition Failed
            description: The request has not been performed because one of the preconditions is not met
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
  parameters:
    If-Match:
      name: If-Match
      in: header
      description: 'Validator for conditional requests; based on ETag.

        '
      schema:
        type: string
    applicationId:
      name: applicationId
      in: path
      description: 'Application Identifier consisting of the UUID of the Application.

        '
      required: true
      schema:
        type: string
    apiId:
      name: apiId
      in: path
      description: '**API ID** consisting of the **UUID** of the API.

        '
      required: true
      schema:
        type: string
    If-None-Match:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resourec.

        '
      schema:
        type: string
    keyType:
      name: keyType
      in: path
      description: '**Application Key Type** standing for the type of the keys (i.e. Production or Sandbox).

        '
      required: true
      schema:
        type: string
        enum:
        - PRODUCTION
        - SANDBOX
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
x-refined-from:
- wso2-admin-api.yaml
- wso2-devportal-api.yaml
