openapi: 3.2.0
info:
  version: v2.3
  title: WSO2 API Manager - Gateway Api Artifact API
  description: 'This document specifies a **RESTful API** for WSO2 **API Manager** - Gateway.

    Please see full swagger definition of the API which is written using swagger 2.0 specification.'
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/gateway/v2
tags:
- name: Api Artifact
paths:
  /api-artifact:
    get:
      summary: Get API artifact from the storage
      description: 'This operation is used to get the local entries, sequences and endpoints from the storage. If the Tenant domain

        is not provided carbon.super will be picked as the Tenant domain.'
      operationId: getAPIArtifacts
      parameters:
      - $ref: '#/components/parameters/apiName'
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/tenantDomain'
      responses:
        200:
          description: 'OK.

            API artifact successfully retrieved from the storage.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIArtifact'
        400:
          description: 'Bad Request.

            Invalid request or validation error

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found.

            Requested API does not exist.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Curl
        source: 'curl -k "https://127.0.0.1:9443/api/am/gateway/v2/api-artifact?apiName=PizzaAPI&version=1.0&tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      tags:
      - Api Artifact
components:
  parameters:
    version:
      name: version
      in: query
      description: 'version of the API

        '
      required: true
      schema:
        type: string
    apiName:
      name: apiName
      in: query
      description: 'Name of the API

        '
      required: true
      schema:
        type: string
    tenantDomain:
      name: tenantDomain
      in: query
      description: 'Tenant Domain of the API

        '
      schema:
        type: string
  schemas:
    APIArtifact:
      title: API Artifact Response
      properties:
        api:
          type: string
          description: 'API Artifact deployed in Gateway.

            '
          example: ''
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
