openapi: 3.2.0
info:
  title: WSO2 API Manager - Admin Organizations API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v4
servers:
- url: https://apis.wso2.com/api/am/admin/v4
tags:
- name: Organizations
paths:
  /organizations:
    get:
      tags:
      - Organizations
      summary: Get all registered Organizations
      description: Get all Registered Organizations
      responses:
        200:
          description: 'OK.

            Organizations returned

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:organization_read
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/organizations"'
      operationId: getOrganizations
      x-operation-id-source: derived
    post:
      tags:
      - Organizations
      summary: Add an Organizations
      description: Add a new organization
      requestBody:
        description: 'Organization object that should to be added

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        201:
          description: 'Created.

            Successful response with the newly created organization as entity in the body.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:organization_manage
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations"'
      operationId: postOrganizations
      x-operation-id-source: derived
  /organizations/{organizationId}:
    get:
      tags:
      - Organizations
      summary: Get an Organization
      description: Get an organization by organization Id
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        200:
          description: 'OK.

            Organization.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:organization_read
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X GET -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'
      operationId: getOrganizationsByOrganizationId
      x-operation-id-source: derived
    put:
      tags:
      - Organizations
      summary: Update an Organization
      description: Update an organization by organization Id
      parameters:
      - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: 'Organization object with updated information

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        200:
          description: 'OK.

            Organization updated.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:organization_manage
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'
      operationId: putOrganizationsByOrganizationId
      x-operation-id-source: derived
    delete:
      tags:
      - Organizations
      summary: Delete an Organization
      description: Delete an organization by organization Id
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        200:
          description: 'OK.

            Organization successfully deleted.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:organization_manage
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'
      operationId: deleteOrganizationsByOrganizationId
      x-operation-id-source: derived
components:
  parameters:
    organizationId:
      name: organizationId
      in: path
      description: 'Organization UUID

        '
      required: true
      schema:
        type: string
  schemas:
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    Organization:
      title: Organization
      required:
      - externalOrganizationId
      type: object
      properties:
        organizationId:
          type: string
          example: ece92bdc-e1e6-325c-b6f4-656208a041e9
          readOnly: true
          description: 'UUID of the organization.

            '
        externalOrganizationId:
          type: string
          example: ece92bdc-e1e6-325c-b6f4-656208a041e9
          description: 'External id of the organization.

            '
        parentOrganizationId:
          type: string
          readOnly: true
          example: ece92bdc-e1e6-325c-b6f4-656208a041e9
          description: 'UUID of the parent organization if there is any.

            '
        displayName:
          maxLength: 255
          minLength: 1
          type: string
          example: My Organization
        description:
          maxLength: 1023
          type: string
          example: My Organization Description
    OrganizationList:
      title: Organization List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of Organizationa returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
  responses:
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
