openapi: 3.0.1
info:
  title: WSO2 API Manager - Admin Advanced Policy (Collection) Advanced Policy (Collection) APIs API
  description: "This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.\nPlease see [full OpenAPI Specification](https://raw.githubusercontent.com/wso2/carbon-apimgt/master/components/apimgt/org.wso2.carbon.apimgt.rest.api.admin.v1/src/main/resources/admin-api.yaml) of the API which is written using [OAS 3.0](http://swagger.io/) specification.\n\n# Authentication\nThe Admin REST API is protected using OAuth2 and access control is achieved through scopes. Before you start invoking\nthe the API you need to obtain an access token with the required scopes. This guide will walk you through the steps\nthat you will need to follow to obtain an access token.\nFirst you need to obtain the consumer key/secret key pair by calling the dynamic client registration (DCR) endpoint. You can add your preferred grant types\nin the payload. A sample payload is shown below.\n```\n  {\n  \"callbackUrl\":\"www.example.com\",\n  \"clientName\":\"rest_api_admin\",\n  \"owner\":\"admin\",\n  \"grantType\":\"client_credentials password refresh_token\",\n  \"saasApp\":true\n  }\n```\nCreate a file (payload.json) with the above sample payload, and use the cURL shown bellow to invoke the DCR endpoint. Authorization header of this should contain the\nbase64 encoded admin username and password.\n**Format of the request**\n```\n  curl -X POST -H \"Authorization: Basic Base64(admin_username:admin_password)\" -H \"Content-Type: application/json\"\n  \\ -d @payload.json https://<host>:<servlet_port>/client-registration/v0.17/register\n```\n**Sample request**\n```\n  curl -X POST -H \"Authorization: Basic YWRtaW46YWRtaW4=\" -H \"Content-Type: application/json\"\n  \\ -d @payload.json https://localhost:9443/client-registration/v0.17/register\n```\nFollowing is a sample response after invoking the above curl.\n```\n{\n\"clientId\": \"fOCi4vNJ59PpHucC2CAYfYuADdMa\",\n\"clientName\": \"rest_api_admin\",\n\"callBackURL\": \"www.example.com\",\n\"clientSecret\": \"a4FwHlq0iCIKVs2MPIIDnepZnYMa\",\n\"isSaasApplication\": true,\n\"appOwner\": \"admin\",\n\"jsonString\": \"{\\\"grant_types\\\":\\\"client_credentials password refresh_token\\\",\\\"redirect_uris\\\":\\\"www.example.com\\\",\\\"client_name\\\":\\\"rest_api_admin\\\"}\",\n\"jsonAppAttribute\": \"{}\",\n\"tokenType\": null\n}\n```\nNote that in a distributed deployment or IS as KM separated environment to invoke RESTful APIs (product APIs), users must generate tokens through API-M Control Plane's token endpoint.\nThe tokens generated using third party key managers, are to manage end-user authentication when accessing APIs.\n\nNext you must use the above client id and secret to obtain the access token.\nWe will be using the password grant type for this, you can use any grant type you desire.\nYou also need to add the proper **scope** when getting the access token. All possible scopes for Admin REST API can be viewed in **OAuth2 Security** section\nof this document and scope for each resource is given in **authorizations** section of resource documentation.\nFollowing is the format of the request if you are using the password grant type.\n```\ncurl -k -d \"grant_type=password&username=<admin_username>&password=<admin_passowrd>&scope=<scopes seperated by space>\"\n\\ -H \"Authorization: Basic base64(cliet_id:client_secret)\"\n\\ https://<host>:<server_port>/oauth2/token\n```\n**Sample request**\n```\ncurl https://localhost:9443/oauth2/token -k \\\n-H \"Authorization: Basic Zk9DaTR2Tko1OVBwSHVjQzJDQVlmWXVBRGRNYTphNEZ3SGxxMGlDSUtWczJNUElJRG5lcFpuWU1h\" \\\n-d \"grant_type=password&username=admin&password=admin&scope=apim:admin apim:tier_view\"\n```\nShown below is a sample response to the above request.\n```\n{\n\"access_token\": \"e79bda48-3406-3178-acce-f6e4dbdcbb12\",\n\"refresh_token\": \"a757795d-e69f-38b8-bd85-9aded677a97c\",\n\"scope\": \"apim:admin apim:tier_view\",\n\"token_type\": \"Bearer\",\n\"expires_in\": 3600\n}\n```\nNow you have a valid access token, which you can use to invoke an API.\nNavigate through the API descriptions to find the required API, obtain an access token as described above and invoke the API with the authentication header.\nIf you use a different authentication mechanism, this process may change.\n\n# Try out in Postman\nIf you want to try-out the embedded postman collection with \"Run in Postman\" option, please follow the guidelines listed below.\n* All of the OAuth2 secured endpoints have been configured with an Authorization Bearer header with a parameterized access token. Before invoking any REST API resource make sure you run the `Register DCR Application` and `Generate Access Token` requests to fetch an access token with all required scopes.\n* Make sure you have an API Manager instance up and running.\n* Update the `basepath` parameter to match the hostname and port of the APIM instance.\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/32294946-71bea2bc-f808-4208-a4f6-861ede6f0434)\n"
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v4
servers:
- url: https://apis.wso2.com/api/am/admin/v4
tags:
- name: APIs
paths:
  /apis:
    get:
      tags:
      - APIs
      summary: 'Retrieve/Search APIs

        '
      description: 'This operation provides you a list of available APIs qualifying under a given search condition.

        Each retrieved API is represented with a minimal amount of attributes. If you want to get complete details of an API, you need to use **Get details of an API** operation.

        '
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: query
        in: query
        description: '**Search and get all apis in admin portal**.


          You can search by proving a keyword.

          '
        schema:
          type: string
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            List of qualifying APIs is returned.

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).

                '
              schema:
                type: string
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultList'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource (Will be supported in future).

            '
          content: {}
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:api_provider_change
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/publisher/v4/apis"'
      operationId: getAllAPIs
  /apis/{apiId}:
    get:
      tags:
      - APIs
      summary: 'Get Details of an API

        '
      description: 'Using this operation, you can retrieve complete details of a single API. You need to provide the Id of the API to retrive it.


        `X-WSO2-Tenant` header can be used to retrieve an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.


        **NOTE:**

        * This operation does not require an Authorization header by default. But if it is provided, it will be validated and checked for permissions of the user, hence you may be able to see APIs which are restricted for special permissions/roles. \n

        '
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match_2'
      responses:
        200:
          description: 'OK.

            Requested API is returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modified the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/c43a325c-260b-4302-81cb-768eafaa3aed"
  /apis/{apiId}/swagger:
    get:
      tags:
      - APIs
      summary: 'Get Swagger Definition

        '
      description: "You can use this operation to retrieve the swagger definition of an API.\n\n `X-WSO2-Tenant` header can be used to retrieve the swagger definition an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's swagger definition, you need to provide Authorization header.\n"
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/environmentName'
      - $ref: '#/components/parameters/If-None-Match_2'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/requestedTenant-Q'
      - name: query
        in: query
        description: "**Key Manager Specific Swagger Generation**.\nTo retrieve an OpenAPI Specification (OAS) definition for a specific Key Manager, please specify the Key Manager's ID in your request. \n  \nFor example, by passing the query parameter `kmId=65e30b46-85e4-4788-85b7-b1c3de06b2e0`, you will receive the OAS definition containing all relevant information for the Key Manager associated with that ID.\n  \n**Important:** If you're using a client that does not automatically handle URL encoding (such as `curl`), please ensure that you encode the URL properly.\n"
        schema:
          type: string
      responses:
        200:
          description: 'OK.

            Requested swagger document of the API is returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
                example: '{ "swagger" : "2.0", "info" : { "version" : "1.0", "title" : "PhoneVerification" }, "host" : "localhost:8243", "basePath" : "/phoneverify/1.0", "schemes" : [ "https", "http" ], "security" : [ { "default" : [ ] } ], "paths" : { "/*" : { "post" : { "consumes" : [ "text/xml", "application/soap+xml" ], "parameters" : [ { "in" : "body", "name" : "SOAP Request", "description" : "SOAP request.", "required" : true, "schema" : { "type" : "string" } }, { "name" : "SOAPAction", "in" : "header", "description" : "SOAPAction header for soap 1.1", "required" : false, "type" : "string" } ], "responses" : { "200" : { "description" : "OK" } }, "security" : [ { "default" : [ ] } ], "x-auth-type" : "Application & Application User", "x-throttling-tier" : "Unlimited" } } }, "securityDefinitions" : { "default" : { "type" : "oauth2", "authorizationUrl" : "https://localhost:8243/authorize", "flow" : "implicit" } } }'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/c43a325c-260b-4302-81cb-768eafaa3aed/swagger"
  /apis/{apiId}/async-api-specification:
    get:
      tags:
      - APIs
      summary: 'Get async api specification definition

        '
      description: "You can use this operation to retrieve the async api specification of an API.\n\n `X-WSO2-Tenant` header can be used to retrieve the async api specification an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's swagger definition, you need to provide Authorization header.\n"
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/environmentName'
      - $ref: '#/components/parameters/If-None-Match_2'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Requested async api specification document of the API is returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
                example: '{"asyncapi": "2.0.0","defaultContentType": "application/json","info": {"title": "Streetlights API","version": "1.0.0","description": "The Smartylighting Streetlights API allows you to remotely manag e the city lights.\n\n### Check out its awesome features:\n\n* Turn a specific streetlight on/off\n* Dim a specific streetlight\n* Receive real-time information about environmental lighting conditions\n","licen se": {"name": "Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0" }},"servers": {"productio n": {"url": "ws://localhost:8080","protocol": "ws"},"sandbox": {"url": "ws://localhost:8080","protocol": "ws"}},"channels": {"smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured": {"descrip tion": "The topic on which measured values may be produced and consumed.",“publish": {"operationId": "re ceiveLightMeasurement","summary": "Inform about environmental lighting conditions of a particular street light.","traits": [{"$ref": "#/components/operationTraits/kafka"}],"message": {"$ref": "#/components/mes sages/lightMeasured"}},"parameters": {"streetlightId": {"$ref": "#/components/parameters/streetlightId"} }},"smartylighting/streetlights/1/0/action/{streetlightId}/turn/on": {"subscribe": {"operationId": "turn On","traits": [{"$ref": "#/components/operationTraits/kafka"}],"message": {"$ref": "#/components/message s/turnOnOff"}},"parameters": {"streetlightId": {"$ref": "#/components/parameters/streetlightId"}}},"smar tylighting/streetlights/1/0/action/{streetlightId}/turn/off": {"subscribe": {"operationId": "turnOff","t raits": [{"$ref": "#/components/operationTraits/kafka"}],"message": {"$ref": "#/components/messages/turn OnOff"}},"parameters": {"streetlightId": {"$ref": "#/components/parameters/streetlightId"}}},"smartyligh ting/streetlights/1/0/action/{streetlightId}/dim": {"subscribe": {"operationId": "dimLight","traits": [{ "$ref": "#/components/operationTraits/kafka"}],"message": {"$ref": "#/components/messages/dimLight"}},"p arameters": {"streetlightId": {"$ref": "#/components/parameters/streetlightId"}}}},"components": {"schem as": {"lightMeasuredPayload": {"type": "object","properties": {"lumens": {"description": "Light intensit y measured in lumens.","minimum": 0,"type": "integer"},"sentAt": {“$ref": "#/components/schemas/sentAt"} }},"turnOnOffPayload": {"type": "object","properties": {"command": {"description": "Whether to turn on o r off the light.","enum": [true,false],"type": "string"},"sentAt": {"$ref": "#/components/schemas/sentAt "}}},"dimLightPayload": {"type": "object","properties": {"percentage": {"description": "Percentage to wh ich the light should be dimmed to.","maximum": 100,"minimum": 0,"type": "integer"},"sentAt": {"$ref": "# /components/schemas/sentAt"}}},"sentAt": {"format": "date-time","description": "Date and time when the m essage was sent.","type": "string"}},"messages": {"lightMeasured": {"contentType": "application/json","n ame": "lightMeasured","title": "Light measured","summary": "Inform about environmental lighting conditio ns of a particular streetlight.","payload": {"$ref": "#/components/schemas/lightMeasuredPayload"},"trait s": [{"$ref": "#/components/messageTraits/commonHeaders"}]},"turnOnOff": {"name": "turnOnOff","title": " on/off","summary": "Command a particular streetlight to turn the lights on or off.","payload": {"$ref":" #/components/schemas/turnOnOffPayload"},"traits": [{"$ref": "#/components/messageTraits/commonHeaders"}] },"dimLight": {"name": "dimLight","title": "Dim light","summary": "Command a particular streetlight to d im the lights.","payload": {"$ref": "#/components/schemas/dimLightPayload"},"traits": [{"$ref":"#/compon ents/messageTraits/commonHeaders"}]}},"securitySchemes": {"apiKey": {"type": "apiKey","description": "Pr ovide your API key as the user and leave the password empty.","in": "user"},"supportedOauthFlows": {"typ e": "oauth2","description": "Flows to support OAuth 2.0","flows": {"implicit": {"authorizationUrl": "http s://authserver.example/auth","scopes": {"streetlights:on": "Ability to switch lights on","streetlights:o ff": "Ability to switch lights off","streetlights:dim": "Ability to dim the lights"}},"password": {"toke nUrl": "https://authserver.example/token","scopes": {"streetlights:on": "Ability to switch lights on","s treetlights:off": "Ability to switch lights off","streetlights:dim": "Ability to dim the lights"}},"clie ntCredentials": {"tokenUrl": "https://authserver.example/token","scopes": {"streetlights:on": "Ability t o switch lights on","streetlights:off": "Ability to switch lights off","streetlights:dim": "Ability to d im the lights"}},"authorizationCode": {"authorizationUrl": "https://authserver.example/auth","tokenUrl": "https://authserver.example/token","refreshUrl": "https://authserver.example/refresh","scopes": {"street lights:on": "Ability to switch lights on","streetlights:off": "Ability to switch lights off","streetligh ts:dim": "Ability to dim the lights"}}}},"openIdConnectWellKnown": {"type": "openIdConnect","openIdConne ctUrl": "https://authserver.example/.well-known"},"oauth2": {"type": "oauth2","flows": {"implicit": {"aut horizationUrl": "http://localhost:9999","scopes": {},"x-scopes-bindings": {}}}}},"parameters": {"streetl ightId": {"description": "The ID of the streetlight.","schema": {"type": "string"}}},"operationTraits": {"kafka": {"bindings": {"kafka": {"clientId": "my-app-id"}}}},"messageTraits": {"commonHeaders": {"heade rs": {"type": "object","properties": {"my-app-header": {"type": "integer","minimum": 0,"maximum": 100}}} }}}}'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/c43a325c-260b-4302-81cb-768eafaa3aed/async-api-specification"
  /apis/{apiId}/graphql-schema:
    get:
      tags:
      - APIs
      summary: 'Get GraphQL Definition

        '
      description: "You can use this operation to retrieve the GraphQL schema definition of a GraphQL API.\n\n `X-WSO2-Tenant` header can be used to retrieve the swagger definition an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's swagger definition, you need to provide Authorization header.\n"
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/If-None-Match_2'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        200:
          description: 'OK.

            Requested swagger document of the API is returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
                example: 'directive @cacheControl( maxAge: Int scope: CacheControlScope ) on FIELD_DEFINITION | OBJECT | INTERFACE enum CacheControlScope { PUBLIC PRIVATE }

                  # A `Lift` is a chairlift, gondola, tram, funicular, pulley, rope tow, or other means of ascending a mountain. type Lift { # The unique identifier for a `Lift` (id: "panorama") id: ID! # The name of a `Lift` name: String! # The current status for a `Lift`: `OPEN`, `CLOSED`, `HOLD` status: LiftStatus # The number of people that a `Lift` can hold capacity: Int! # A boolean describing whether a `Lift` is open for night skiing night: Boolean! # The number of feet in elevation that a `Lift` ascends elevationGain: Int! # A list of trails that this `Lift` serves trailAccess: [Trail!]! }

                  # An enum describing the options for `LiftStatus`: `OPEN`, `CLOSED`, `HOLD` enum LiftStatus { OPEN CLOSED HOLD }

                  type Mutation { # Sets a `Lift` status by sending `id` and `status` setLiftStatus(id: ID!, status: LiftStatus!): Lift! # Sets a `Trail` status by sending `id` and `status` setTrailStatus(id: ID!, status: TrailStatus!): Trail! }

                  type Query { # A list of all `Lift` objects allLifts(status: LiftStatus): [Lift!]! # A list of all `Trail` objects allTrails(status: TrailStatus): [Trail!]! # Returns a `Lift` by `id` (id: "panorama") Lift(id: ID!): Lift! # Returns a `Trail` by `id` (id: "old-witch") Trail(id: ID!): Trail! # Returns an `Int` of `Lift` objects with optional `LiftStatus` filter liftCount(status: LiftStatus): Int! # Returns an `Int` of `Trail` objects with optional `TrailStatus` filter trailCount(status: TrailStatus): Int! # Returns a list of `SearchResult` objects based on `term` or `status` search(term: String, status: LiftStatus): [SearchResult!]! }

                  union SearchResult = Lift | Trail type Subscription { # Listens for changes in lift status liftStatusChange: Lift # Listens for changes in trail status trailStatusChange: Trail }

                  # A `Trail` is a run at a ski resort type Trail { id: ID! # The name of a `Trail` name: String! # The current status for a `Trail`: OPEN, CLOSED status: TrailStatus # The difficulty rating for a `Trail` difficulty: String! # A boolean describing whether or not a `Trail` is groomed groomed: Boolean! # A boolean describing whether or not a `Trail` has trees trees: Boolean! # A boolean describing whether or not a `Trail` is open for night skiing night: Boolean! # A list of Lifts that provide access to this `Trail` accessedByLifts: [ Lift! ]! }

                  # An enum describing the options for `TrailStatus`: `OPEN`, `CLOSED` enum TrailStatus { OPEN CLOSED }

                  # The `Upload` scalar type represents a file upload. scalar Upload'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/c43a325c-260b-4302-81cb-768eafaa3aed/graphql-schema"
  /apis/{apiId}/wsdl:
    get:
      tags:
      - APIs
      summary: Get API WSDL definition
      description: 'This operation can be used to retrieve the WSDL definition of an API.

        '
      operationId: getWSDLOfAPI
      parameters:
      - $ref: '#/components/parameters/formatWsdl'
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/environmentName'
      - $ref: '#/components/parameters/If-None-Match_2'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/exp'
      - $ref: '#/components/parameters/sig'
      - $ref: '#/components/parameters/requestedTenant-Q'
      responses:
        200:
          description: 'OK.

            Requested WSDL document of the API is returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests (Will be supported in future).

                '
              schema:
                type: string
          content: {}
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource (Will be supported in future).

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/c43a325c-260b-4302-81cb-768eafaa3aed/wsdl"
  /apis/{apiId}/thumbnail:
    get:
      tags:
      - APIs
      summary: Get Thumbnail Image
      description: 'This operation can be used to download a thumbnail image of an API.


        `X-WSO2-Tenant` header can be used to retrive a thumbnail of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.


        **NOTE:**

        * This operation does not require an Authorization header by default. But in order to see a restricted API''s thumbnail, you need to provide Authorization header.

        '
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match_2'
      responses:
        200:
          description: 'OK.

            Thumbnail image returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests (Will be supported in future).

                '
              schema:
                type: string
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content: {}
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/e93fb282-b456-48fc-8981-003fb89086ae/thumbnail" > image.jpeg
  /apis/{apiId}/subscription-policies:
    get:
      tags:
      - APIs
      summary: 'Get Details of the Subscription Throttling Policies of an API

        '
      description: 'This operation can be used to retrieve details of the subscription throttling policy of an API by specifying the API Id.


        `X-WSO2-Tenant` header can be used to retrive API subscription throttling policies that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user''s tenant associated with the access token will be used.

        '
      parameters:
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      - $ref: '#/components/parameters/If-None-Match_2'
      responses:
        200:
          description: 'OK.

            Throttling Policy returned

            '
          headers:
            ETag:
              description: 'Entity Tag of the response resource.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
            Last-Modified:
              description: 'Date and time the resource has been modifed the last time.

                Used by caches, or in conditional requests.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingPolicy'
        304:
          description: 'Not Modified.

            Empty body because the client has already the latest version of the requested resource.

            '
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security: []
      x-code-samples:
      - lang: Curl
        source: curl -k "https://localhost:9443/api/am/devportal/v3/apis/268c9e55-3dc1-4f47-82e7-977e5343d077/subscription-policies"
  /apis/{apiId}/generate-definition-url:
    post:
      tags:
      - APIs
      summary: Generate a URL to download a resource for an API
      description: Generate a URL to access an API resource like the WSDL definition.
      operationId: generateDefinitionURL
      parameters:
      - $ref: '#/components/parameters/resourceType'
      - $ref: '#/components/parameters/environmentName'
      - $ref: '#/components/parameters/apiId'
      - $ref: '#/components/parameters/requestedTenant'
      responses:
        '200':
          description: OK. Returns generated download URL as a string.
          content:
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - OAuth2Security: []
components:
  schemas:
    Error_2:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem_2'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    AdvertiseInfo:
      title: API Advertise info object with advertise details
      type: object
      properties:
        advertised:
          type: boolean
          example: true
        apiExternalProductionEndpoint:
          type: string
          example: https://localhost:9443/devportal
        apiExternalSandboxEndpoint:
          type: string
          example: https://localhost:9443/devportal
        originalDevPortalUrl:
          type: string
          example: https://localhost:9443/devportal
        apiOwner:
          type: string
          example: admin
        vendor:
          type: string
          default: WSO2
          enum:
          - WSO2
          - AWS
    ThrottlingPolicyPermissionInfo:
      title: Throttling Policy Permission info object with throttling policy permission details
      type: object
      properties:
        type:
          type: string
          enum:
          - allow
          - deny
        roles:
          type: array
          description: roles for this permission
          example:
          - manager
          - developer
          items:
            type: string
    ScopeInfo:
      title: API Scope info object with scope details
      type: object
      properties:
        key:
          type: string
          example: admin_scope
        name:
          type: string
          example: admin scope
        roles:
          type: array
          description: Allowed roles for the scope
          example:
          - manager
          - developer
          items:
            type: string
        description:
          type: string
          description: Description of the scope
    APIOperations:
      title: Operation
      type: object
      properties:
        id:
          type: string
          example: apioperation
        target:
          type: string
        verb:
          type: string
    Pagination:
      title: Pagination
      type: object
      properties:
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 1
        total:
          type: integer
          example: 10
        next:
          type: string
          description: 'Link to the next subset of resources qualified.

            Empty if no more resources are to be returned.

            example: ""

            '
        previous:
          type: string
          description: 'Link to the previous subset of resources qualified.

            Empty if current subset is the first subset returned.

            example: ""

            '
    ApiResult:
      type: object
      properties:
        provider:
          type: string
        name:
          type: string
        version:
          type: string
        id:
          type: string
    SearchResultList:
      title: Unified Search Result List
      type: object
      properties:
        apis:
          type: array
          items:
            $ref: '#/components/schemas/ApiResult'
        count:
          type: integer
          description: 'Number of results returned.

            '
          example: 1
        pagination:
          $ref: '#/components/schemas/Pagination'
    API:
      title: API object
      required:
      - context
      - lifeCycleStatus
      - name
      - provider
      - version
      type: object
      properties:
        id:
          type: string
          description: 'UUID of the api

            '
          example: 01234567-0123-0123-0123-012345678901
        name:
          type: string
          description: Name of the API
          example: CalculatorAPI
        displayName:
          description: Human-friendly name shown in UI. Length limited to DB column size.
          type: string
          example: Pizza Shack API
        description:
          type: string
          description: A brief description about the API
          example: A calculator API that supports basic operations
        context:
          type: string
          description: A string that represents thecontext of the user's request
          example: CalculatorAPI
        version:
          type: string
          description: The version of the API
          example: 1.0.0
        provider:
          type: string
          description: 'If the provider value is not given user invoking the api will be used as the provider.

            '
          example: admin
        apiDefinition:
          type: string
          description: 'Swagger definition of the API which contains details about URI templates and scopes

            '
          example: '{"paths":{"\/substract":{"get":{"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","parameters":[{"name":"x","required":true,"type":"string","in":"query"},{"name":"y","required":true,"type":"string","in":"query"}],"responses":{"200":{}}}},"\/add":{"get":{"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","parameters":[{"name":"x","required":true,"type":"string","in":"query"},{"name":"y","required":true,"type":"string","in":"query"}],"responses":{"200":{}}}}},"swagger":"2.0","info":{"title":"CalculatorAPI","version":"1.0.0"}}'
        wsdlUri:
          type: string
          description: 'WSDL URL if the API is based on a WSDL endpoint

            '
          example: http://www.webservicex.com/globalweather.asmx?wsdl
        lifeCycleStatus:
          type: string
          description: This describes in which status of the lifecycle the API is.
          example: PUBLISHED
        isDefaultVersion:
          type: boolean
          example: false
        type:
          type: string
          description: This describes the transport type of the API
          example: HTTP
        transport:
          type: array
          example:
          - http
          - https
          items:
            type: string
            description: 'Supported transports for the API (http and/or https).

              '
        operations:
          type: array
          example: []
          items:
            $ref: '#/components/schemas/APIOperations'
        authorizationHeader:
          type: string
          description: 'Name of the Authorization header used for invoking the API. If it is not set, Authorization header name specified

            in tenant or system level will be used.

            '
          example: Authorization
        apiKeyHeader:
          type: string
          description: 'Name of the API key header used for invoking the API. If it is not set, default value `apiKey` will be used.

            '
          example: ApiKey
        securityScheme:
          type: array
          description: 'Types of API security, the current API secured with. It can be either OAuth2 or mutual SSL or both. If

            it is not set OAuth2 will be set as the security for the current API.

            '
          example:
          - oauth2
          - oauth_basic_auth_api_key_mandatory
          items:
            type: string
        tags:
          type: array
          description: Search keywords related to the API
          example:
          - substract
          - add
          items:
            type: string
        tiers:
          type: array
          description: The subscription tiers selected for the particular API
          items:
            type: object
            properties:
              tierName:
                type: string
                example: Gold
              tierPlan:
                type: string
                example: COMMERCIAL
              monetizationAttributes:
                type: object
                properties:
                  fixedPrice:
                    type: string
                    example: '10'
                  pricePerRequest:
                    type: string
                    example: '1'
                  currencyType:
                    type: string
                    example: USD
                  billingCycle:
                    type: string
                    example: month
        hasThumbnail:
          type: boolean
          example: true
          default: false
        additionalProperties:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
              display:
                type: boolean
          description: 'Custom(user defined) properties of API

            '
          example: {}
        monetization:
          $ref: '#/components/schemas/APIMonetizationInfo'
        endpointURLs:
          type: array
          items:
            type: object
            properties:
              environmentName:
                type: string
                example: Default
              environmentDisplayName:
                type: string
                example: Default
              environmentType:
                type: string
                example: hybrid
              URLs:
                type: object
                properties:
                  http:
                    type: string
                    description: HTTP environment URL
                    example: http://localhost:8280/phoneverify/1.0.0
                  https:
                    type: string
                    description: HTTPS environment URL
                    example: https://localhost:8243/phoneverify/1.0.0
                  ws:
                    type: string
                    description: WS environment URL
                    example: ws://localhost:9099/phoneverify/1.0.0
                  wss:
                    type: string
                    description: WSS environment URL
                    example: wss://localhost:9099/phoneverify/1.0.0
              defaultVersionURLs:
                type: object
                properties:
                  http:
                    type: string
                    description: HTTP environment default URL
                    example: http://localhost:8280/phoneverify/
                  https:
                    type: string
                    description: HTTPS environment default URL
                    example: https://localhost:8243/phoneverify/
                  ws:
                    type: string
                    description: WS environment default URL
                    example: ws://localhost:9099/phoneverify/
                  wss:
                    type: string
                    description: WSS environment default URL
                    example: wss://localhost:9099/phoneverify/
        businessInformation:
          $ref: '#/components/schemas/APIBusinessInformation'
        environmentList:
          type: array
          description: The environment list configured with non empty endpoint URLs for the particular API.
          example:
          - PRODUCTION
          - SANDBOX
          items:
            type: string
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/ScopeInfo'
        avgRating:
          type: string
          description: The average rating of the API
          example: '4.5'
        subscriptions:
          type: integer
          format: int64
          description: The number of subscriptions for the API
          example: 10
        advertiseInfo:
          $ref: '#/components/schemas/AdvertiseInfo'
        isSubscriptionAvailable:
          type: boolean
          example: false
        initiatedFromGateway:
          type: boolean
          description: Flag indicating this API was discovered/initiated via the gateway (federated discovery) rather than created in the Control Plane.
          example: false
        categories:
          type: array
          description: 'API categories

            '
          items:
            type: string
            example: Marketing
        keyManagers:
          type: object
          properties: {}
          description: 'API Key Managers

            '
          example:
          - all
        createdTime:
          type: string
          example: 2020-10-31 13:57:16.229000
        lastUpdatedTime:
          type: string
          example: 2020-10-31 13:57:16.229000
        gatewayType:
          title: Gateway type of the API
          type: string
          example: solace
        gatewayVendor:
          title: Gateway vendor of the API
          type: string
          example: wso2
        asyncTransportProtocols:
          type: array
          description: 'Supported transports for the aync API.

            '
          example:
          - http
          - mqtt
          items:
            type: string
        egress:
          type: boolean
          description: Whether the API is egress or not
          default: false
          example: true
        subtype:
          type: string
          description: Subtype of the API.
          default: DEFAULT
          example: AIAPI
          readOnly: true
    MonetizationInfo:
      title: Monetization
      type: object
      properties:
        billingType:
          type: string
          example: fixedPrice
          enum:
          - fixedPrice
          - dynamicRate
        billingCycle:
          type: string
          example: month
        fixedPrice:
          type: string
          example: '10'
        pricePerRequest:
          type: string
          example: '1'
        currencyType:
          type: string
          example: USD
    APIBusinessInformation:
      type: object
      properties:
        businessOwner:
          type: string
          example: businessowner
        businessOwnerEmail:
          type: string
          example: businessowner@wso2.com
        technicalOwner:
          type: string
          example: technicalowner
        technicalOwnerEmail:
          type: string
          example: technicalowner@wso2.com
    APIMonetizationInfo:
      title: API monetization object
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag to indicate the monetization status
          example: true
    ThrottlingPolicy:
      title: Throttling Policy
      required:
      - name
      - requestCount
      - stopOnQuotaReach
      - tierPlan
      - unitTime
      type: object
      properties:
        name:
          type: string
          example: Platinum
        description:
          type: string
          example: Allows 50 request(s) per minute.
        policyLevel:
          type: string
          example: subscription
          enum:
          - application
          - subscription
        attributes:
          type: object
          additionalProperties:
            type: string
          description: 'Custom attributes added to the throttling policy

            '
          example: {}
        requestCount:
          type: integer
          description: 'Maximum number of requests which can be sent within a provided unit time

            '
          format: int64
          example: 50
        dataUnit:
          description: 'Unit of data allowed to be transfered. Allowed values are "KB", "MB" and "GB"

            '
          type: string
          example: KB
        unitTime:
          type: integer
          format: int64
          example: 60000
        timeUnit:
          type: string
          example: min
        rateLimitCount:
          type: integer
          default: 0
          description: Burst control request count
          example: 10
        rateLimitTimeUnit:
          type: string
          description: Burst control time unit
          example: min
        quotaPolicyType:
          type: string
          description: Default quota limit type
          enum:
          - REQUESTCOUNT
          - BANDWIDTHVOLUME
          example: REQUESTCOUNT
        tierPlan:
          type: string
          description: 'This attribute declares whether this tier is available under commercial or free

            '
          example: FREE
          enum:
          - FREE
          - COMMERCIAL
        stopOnQuotaReach:
          type: boolean
          description: 'If this attribute is set to false, you are capabale of sending requests

            even if the request count exceeded within a unit time

            '
          example: true
        monetizationAttributes:
          $ref: '#/components/schemas/MonetizationInfo'
        throttlingPolicyPermissions:
          $ref: '#/components/schemas/ThrottlingPolicyPermissionInfo'
    ErrorListItem_2:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
  parameters:
    resourceType:
      name: type
      in: query
      description: Type of the resource to be retrieved using the generated url (Ex - wsdl)
      required: true
      schema:
        type: string
        enum:
        - wsdl
    If-None-Match_2:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resourec.

        '
      schema:
        type: string
    formatWsdl:
      name: format
      in: query
      description: 'If format is wsdl, send the content of the main WSDL file and not the archived WSDL. If not defined, send the zip.

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Starting point within the complete list of items qualified.

        '
      schema:
        type: integer
        default: 0
    If-None-Match:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resource.

        '
      schema:
        type: string
    exp:
      name: exp
      in: query
      description: 'Time of expiration of the generated URL.

        '
      required: false
      schema:
        type: integer
        format: int64
    environmentName:
      name: environmentName
      in: query
      description: 'Name of the API gateway environment.

        '
      schema:
        type: string
    sig:
      name: sig
      in: query
      description: 'Signature to validate the generated URL.

        '
      required: false
      schema:
        type: string
    requestedTenant-Q:
      name: X-WSO2-Tenant-Q
      in: query
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retirieved from.\n"
      schema:
        type: string
    apiId:
      name: apiId
      in: path
      description: '**API ID** consisting of the **UUID** of the API.

        '
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: 'Maximum size of resource array to return.

        '
      schema:
        type: integer
        default: 25
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
  responses:
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 500
            message: Internal Server Error
            description: The server encountered an internal error. Please contact administrator.
            moreInfo: ''
            error: []
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
    Unauthorized:
      description: Unauthorized. The user is not authorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 401
            message: Unauthorized
            description: The user is not authorized
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
