openapi: 3.2.0
info:
  version: v2.3
  title: WSO2 API Manager - Gateway End Points API
  description: 'This document specifies a **RESTful API** for WSO2 **API Manager** - Gateway.

    Please see full swagger definition of the API which is written using swagger 2.0 specification.'
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/gateway/v2
tags:
- name: Endpoints
paths:
  /end-points:
    get:
      summary: Get end-points from the storage for the API
      description: 'This operation is used to get the end-points from the storage. If the Tenant domain is not provided

        carbon.super will be picked as the Tenant domain.'
      operationId: getEndpoints
      parameters:
      - $ref: '#/components/parameters/apiName'
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/tenantDomain'
      responses:
        200:
          description: 'OK.

            End-points successfully retrieved from the storage for the API.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoints'
        400:
          description: 'Bad Request.

            Invalid request or validation error

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found.

            Requested API does not exist.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Curl
        source: 'curl -k "https://127.0.0.1:9443/api/am/gateway/v2/end-points?apiName=PizzaAPI&version=1.0&tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      tags:
      - Endpoints
components:
  parameters:
    version:
      name: version
      in: query
      description: 'version of the API

        '
      required: true
      schema:
        type: string
    apiName:
      name: apiName
      in: query
      description: 'Name of the API

        '
      required: true
      schema:
        type: string
    tenantDomain:
      name: tenantDomain
      in: query
      description: 'Tenant Domain of the API

        '
      schema:
        type: string
  schemas:
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    Endpoints:
      title: Endpoints Response
      properties:
        endpoints:
          description: 'The end points which has been deployed in the gateway

            '
          type: array
          items:
            type: string
            example: <endpoint xmlns="http://ws.apache.org/ns/synapse" name="PizzaShackAPI--v1.0.0_APIproductionEndpoint"><http uri-template="https://localhost:9443/am/sample/pizzashack/v1/api/"><timeout><responseAction>fault</responseAction></timeout></http><property name="ENDPOINT_ADDRESS" value="https://localhost:9443/am/sample/pizzashack/v1/api/"/></endpoint>
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
