openapi: 3.2.0
info:
  version: v2.3
  title: WSO2 API Manager - Gateway Get Subscription Info API
  description: 'This document specifies a **RESTful API** for WSO2 **API Manager** - Gateway.

    Please see full swagger definition of the API which is written using swagger 2.0 specification.'
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/gateway/v2
tags:
- name: Get Subscription Info
paths:
  /subscriptions:
    get:
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X GET "https://127.0.0.1:9443/api/am/gateway/v2/subscriptions?apiUUID=d290f1ee-6c54-4b01-90e6-d701748f0851&appUUID=d290f1ee-6c54-4b01-90e6-d701748f0851&tenantDomain=registry.com" -H "Authorization: Basic YWRtaW46YWRtaW4="'
      summary: Get the subscriptions meta information of an api by providing the api uuid and…
      description: 'This operation is used to get the subscription information of an API from storage. If the Tenant domain is not provided

        carbon.super will be picked as the Tenant domain.'
      parameters:
      - name: apiUUID
        description: 'UUID of the API

          '
        in: query
        schema:
          type: string
      - name: appUUID
        description: 'UUID of the Application

          '
        in: query
        schema:
          type: string
      - name: tenantDomain
        description: 'Tenant Domain of the Application

          '
        in: query
        schema:
          type: string
      tags:
      - Get Subscription Info
      responses:
        200:
          description: 'OK.

            Subscriptions successfully retrieved from the storage.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      operationId: getSubscriptions
      x-operation-id-source: derived
components:
  schemas:
    Subscription:
      properties:
        subscriptionId:
          type: integer
        policyId:
          type: string
        apiId:
          type: integer
        appId:
          type: integer
        subscriptionState:
          type: string
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
  responses:
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
