openapi: 3.2.0
info:
  title: Wso2 Settings API
  version: '1.0'
  description: 'Operations tagged Settings across 3 of this provider''s published API definitions: wso2-admin-api.yaml, wso2-devportal-api.yaml, wso2-service-catalog-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apis.wso2.com/api/am/admin/v4
- url: https://apis.wso2.com/api/am/devportal/v3
- url: https://apis.wso2.com/api/service-catalog/v1
- url: http://apis.wso2.com/api/service-catalog/v1
tags:
- name: Settings
paths:
  /settings:
    get:
      tags:
      - Settings
      summary: Retreive Admin Settings
      description: Retreive admin settings
      responses:
        200:
          description: 'OK.

            Settings returned

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        404:
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:admin_settings
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/settings"'
      operationId: getSettings
      x-operation-id-source: derived
    servers:
    - url: https://apis.wso2.com/api/am/admin/v4
  /settings/application-attributes:
    get:
      tags:
      - Settings
      summary: Get All Application Attributes from Configuration
      description: This operation can be used to retrieve the application attributes from configuration. It will not return hidden attributes.
      parameters:
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        200:
          description: 'OK.

            Application attributes returned.

            '
          headers:
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationAttributeList'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:subscribe
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/settings/application-attributes"'
      operationId: getSettingsApplicationAttributes
      x-operation-id-source: derived
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
components:
  schemas:
    KeyManagerConfiguration:
      title: Key Manager Configuration
      type: object
      properties:
        name:
          type: string
          example: consumer_key
        label:
          type: string
          example: Consumer Key
        type:
          type: string
          example: select
        required:
          type: boolean
          example: true
        mask:
          type: boolean
          example: true
        multiple:
          type: boolean
          example: true
        tooltip:
          type: string
          example: Enter username to connect to key manager
        default:
          type: object
          properties: {}
          example: admin
        values:
          type: array
          items:
            type: object
            properties: {}
        updateDisabled:
          type: boolean
          description: Indicates that this configuration field cannot be modified once the Key Manager is created.
          default: false
          example: true
    ConfigurationConstraint:
      title: Configurable Configuration Constraints
      type: object
      properties:
        name:
          type: string
          example: application_access_token_expiry_time
        label:
          type: string
          example: Access Token Expiry
        type:
          type: string
          example: input
        multiple:
          type: boolean
          example: true
        tooltip:
          type: string
          example: Define the valid range for token expiration in seconds.
        constraintType:
          type: string
          example: RANGE
        values:
          type: array
          items:
            type: object
            properties: {}
        default:
          type: object
          properties: {}
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    Settings:
      title: Settings
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
        gatewayTypes:
          type: array
          items:
            type: string
        IsJWTEnabledForLoginTokens:
          type: boolean
          default: false
        orgAccessControlEnabled:
          type: boolean
          description: 'Is Organization-based access control configuration enabled

            '
          example: true
        keyManagerConfiguration:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: default
              displayName:
                type: string
                example: default
              defaultConsumerKeyClaim:
                type: string
                example: azp
              defaultScopesClaim:
                type: string
                example: scope
              authConfigurations:
                type: array
                items:
                  $ref: '#/components/schemas/KeyManagerConfiguration'
              configurations:
                type: array
                items:
                  $ref: '#/components/schemas/KeyManagerConfiguration'
              endpointConfigurations:
                type: array
                items:
                  $ref: '#/components/schemas/KeyManagerConfiguration'
              configurationConstraints:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigurationConstraint'
        gatewayConfiguration:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: default
              displayName:
                type: string
                example: default
              supportedModes:
                type: array
                items:
                  type: string
                  example: READ_WRITE
              configurations:
                type: array
                items:
                  $ref: '#/components/schemas/GatewayConfiguration'
              defaultHostnameTemplate:
                type: string
                example: '{apiId}.execute-api.{region}.amazonaws.com'
        analyticsEnabled:
          type: boolean
          description: To determine whether analytics is enabled or not
          example: false
        transactionCounterEnable:
          type: boolean
          description: To determine whether the transaction counter is enabled or not
          example: false
        isGatewayNotificationEnabled:
          type: boolean
          description: Is Gateway Notification Enabled
          default: false
        platformGatewayVersions:
          type: array
          description: API Platform Gateway versions for the quick-start guide.
          items:
            type: string
            example: 1.0.0
        consumptionExportEnabled:
          type: boolean
          description: Whether the ConsumptionDataExportService OSGi service is available
          example: false
    GatewayConfiguration:
      title: Gateway Configuration
      type: object
      properties:
        name:
          type: string
          example: consumer_key
        label:
          type: string
          example: Consumer Key
        type:
          type: string
          example: select
        required:
          type: boolean
          example: true
        mask:
          type: boolean
          example: true
        multiple:
          type: boolean
          example: true
        tooltip:
          type: string
          example: Enter username
        default:
          type: object
          properties: {}
          example: admin
        values:
          type: array
          items:
            type: object
            properties: {}
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    ApplicationAttributeList:
      title: Application Attributes List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of application attributes returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationAttribute'
    ApplicationAttribute:
      title: Application attributes
      type: object
      properties:
        description:
          type: string
          description: description of the application attribute
          example: Sample description of the attribute
        type:
          type: string
          description: type of the input element to display
          example: text
        tooltip:
          type: string
          description: tooltop to display for the input element
          example: Sample tooltip
        required:
          type: string
          description: whether this is a required attribute
          example: 'false'
        attribute:
          type: string
          description: the name of the attribute
          example: External Reference Id
        hidden:
          type: string
          description: whether this is a hidden attribute
          example: 'false'
    Error_2:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem_2'
    Settings_2:
      title: Settings
      type: object
      properties:
        grantTypes:
          type: array
          items:
            type: string
          example:
          - refresh_token
          - urn:ietf:params:oauth:grant-type:saml2-bearer
          - password
          - client_credentials
          - iwa:ntlm
          - authorization_code
          - urn:ietf:params:oauth:grant-type:jwt-bearer
        scopes:
          type: array
          items:
            type: string
          example:
          - apim:api_key
          - apim:app_import_export
          - apim:app_manage
          - apim:store_settings
          - apim:sub_alert_manage
          - apim:sub_manage
          - apim:subscribe
          - openid
        applicationSharingEnabled:
          type: boolean
          default: false
        IsLegacyApiKeysEnabled:
          type: boolean
          default: false
        mapExistingAuthApps:
          type: boolean
          default: false
        apiGatewayEndpoint:
          type: string
        monetizationEnabled:
          type: boolean
          default: false
        recommendationEnabled:
          type: boolean
          default: false
        IsUnlimitedTierPaid:
          type: boolean
          default: false
        identityProvider:
          type: object
          properties:
            external:
              type: boolean
              default: false
        IsAnonymousModeEnabled:
          type: boolean
          default: true
        IsPasswordChangeEnabled:
          type: boolean
          default: true
        IsJWTEnabledForLoginTokens:
          type: boolean
          default: false
        orgAccessControlEnabled:
          type: boolean
          description: 'Is Organization-based access control configuration enabled

            '
          example: true
        userStorePasswordPattern:
          type: string
          description: The 'PasswordJavaRegEx' cofigured in the UserStoreManager
          example: ^[\S]{5,30}$
        passwordPolicyPattern:
          type: string
          description: The regex configured in the Password Policy property 'passwordPolicy.pattern'
          example: ^[\S]{5,30}$
        passwordPolicyMinLength:
          type: integer
          description: If Password Policy Feature is enabled, the property 'passwordPolicy.min.length' is returned as the 'passwordPolicyMinLength'. If password policy is not enabled, default value -1 will be returned. And it should be noted that the regex pattern(s) returned in 'passwordPolicyPattern' and 'userStorePasswordPattern' properties too will affect the minimum password length allowed and an intersection of all conditions will be considered finally to validate the password.
        passwordPolicyMaxLength:
          type: integer
          description: If Password Policy Feature is enabled, the property 'passwordPolicy.max.length' is returned as the 'passwordPolicyMaxLength'. If password policy is not enabled, default value -1 will be returned. And it should be noted that the regex pattern(s) returned in 'passwordPolicyPattern' and 'userStorePasswordPattern' properties too will affect the maximum password length allowed and an intersection of all conditions will be considered finally to validate the password.
        apiChatEnabled:
          type: boolean
          description: Specifies whether API Chat feature is enabled.
          default: true
        aiAuthTokenProvided:
          type: boolean
          description: Checks if the auth token is provided for AI service usage.
          default: false
        marketplaceAssistantEnabled:
          type: boolean
          description: Specifies whether Marketplace Assistant feature is enabled.
          default: true
        orgWideAppUpdateEnabled:
          type: boolean
          default: false
        devportalMode:
          type: string
          description: 'This indicates the mode of the Developer Portal. Possible values are: - HYBRID: Both MCP and API portals are enabled. - MCP_ONLY: Only the MCP portal is enabled. - API_ONLY: Only the API portal is enabled.

            '
          enum:
          - HYBRID
          - MCP_ONLY
          - API_ONLY
          default: HYBRID
    ErrorListItem_2:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    Settings_3:
      title: SettingsDTO
      properties:
        scopes:
          type: array
          items:
            type: string
            example: service_catalog:service_view
    Error_3:
      type: object
      title: Error object returned with 4XX HTTP Status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem_3'
    ErrorListItem_3:
      type: object
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
        description:
          type: string
          description: 'A detail description about the error message.

            '
  responses:
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_3'
          example:
            code: 500
            message: Internal Server Error
            description: The server encountered an internal error. Please contact administrator.
            moreInfo: ''
            error: []
    Unauthorized:
      description: Unauthorized. The user is not authorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_3'
          example:
            code: 401
            message: Unauthorized
            description: The user is not authorized
            moreInfo: ''
            error: []
  parameters:
    If-None-Match:
      name: If-None-Match
      in: header
      description: 'Validator for conditional requests; based on the ETag of the formerly retrieved

        variant of the resourec.

        '
      schema:
        type: string
    requestedTenant:
      name: X-WSO2-Tenant
      in: header
      description: "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retrieved from.\n"
      schema:
        type: string
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
x-refined-from:
- wso2-admin-api.yaml
- wso2-devportal-api.yaml
- wso2-service-catalog-api.yaml
