openapi: 3.2.0
info:
  title: Wso2 Import Export API
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
  description: 'Operations tagged Import Export across 2 of this provider''s published API definitions: wso2-admin-api.yaml, wso2-devportal-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apis.wso2.com/api/am/admin/v4
- url: https://apis.wso2.com/api/am/devportal/v3
tags:
- name: Import Export
paths:
  /throttling/policies/export:
    get:
      tags:
      - Import Export
      summary: Export a Throttling Policy
      description: This operation can be used to export the details of a particular Throttling Policy.
      parameters:
      - name: policyId
        in: query
        description: UUID of the ThrottlingPolicy
        schema:
          type: string
      - name: name
        in: query
        description: 'Throttling Policy Name

          '
        schema:
          type: string
      - name: type
        in: query
        description: 'Type of the Throttling Policy

          '
        schema:
          type: string
          enum:
          - sub
          - app
          - api
          - global
      responses:
        200:
          description: 'OK.

            Export Successful.

            '
          headers:
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportThrottlePolicy'
              example:
                type: rate-limiting policy
                subtype: application
                version: v4.1.0
                data:
                  policyId: cd828243-a0db-430c-97e9-9e41fd865d48
                  policyName: 50PerMin
                  displayName: 50PerMin
                  description: Allows 50 request per minute
                  isDeployed: true
                  type: ApplicationThrottlePolicy
                  defaultLimit:
                    type: BANDWIDTHLIMIT
                    requestCount:
                      timeUnit: min
                      unitTime: 1
                      requestCount: 50
                    bandwidth:
                      timeUnit: min
                      unitTime: 5
                      dataAmount: 100
                      dataUnit: MB
                    eventCount:
                      timeUnit: min
                      unitTime: 5
                      eventCount: 16
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:tier_manage
        - apim:admin_tier_manage
        - apim:policies_import_export
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/export?policyId=96077508-fd01-4fae-bc64-5de0e2baf43c&name=Bronze&type=sub&format=YAML"'
      operationId: exportThrottlingPolicy
    servers:
    - url: https://apis.wso2.com/api/am/admin/v4
  /throttling/policies/import:
    post:
      tags:
      - Import Export
      summary: Import a Throttling Policy
      description: This operation can be used to import a Throttling Policy
      parameters:
      - name: overwrite
        in: query
        description: 'Update an existing throttlingpolicy with the same name

          '
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: Json File
                  format: binary
        required: true
      responses:
        200:
          description: 'Created.

            Throttling Policy Imported Successfully.

            '
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - OAuth2Security:
        - apim:admin
        - apim:tier_manage
        - apim:admin_tier_manage
        - apim:policies_import_export
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/import?overwrite=True"'
      operationId: importThrottlingPolicy
    servers:
    - url: https://apis.wso2.com/api/am/admin/v4
  /applications/export:
    get:
      tags:
      - Import Export
      summary: Export an Application
      description: This operation can be used to export the details of a particular application as a zip file.
      parameters:
      - name: appName
        in: query
        description: 'Application Name

          '
        required: true
        schema:
          type: string
      - name: appOwner
        in: query
        description: 'Owner of the Application

          '
        required: true
        schema:
          type: string
      - name: withKeys
        in: query
        description: 'Export application keys

          '
        schema:
          type: boolean
      - name: format
        in: query
        description: 'Format of output documents. Can be YAML or JSON.

          '
        schema:
          type: string
          enum:
          - JSON
          - YAML
      responses:
        200:
          description: 'OK.

            Export Successful.

            '
          headers:
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content:
            application/zip:
              schema:
                type: string
                format: binary
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:app_import_export
      x-code-samples:
      - lang: Curl
        source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://localhost:9443/api/am/devportal/v3/applications/export?appName=sampleApp&appOwner=admin&withKeys=true" > exportedApplication.zip'
      operationId: getApplicationsExport
      x-operation-id-source: derived
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
  /applications/import:
    post:
      tags:
      - Import Export
      summary: Import an Application
      description: This operation can be used to import an application.
      parameters:
      - name: preserveOwner
        in: query
        description: 'Preserve Original Creator of the Application

          '
        schema:
          type: boolean
      - name: skipSubscriptions
        in: query
        description: 'Skip importing Subscriptions of the Application

          '
        schema:
          type: boolean
      - name: appOwner
        in: query
        description: 'Expected Owner of the Application in the Import Environment

          '
        schema:
          type: string
      - name: skipApplicationKeys
        in: query
        description: 'Skip importing Keys of the Application

          '
        schema:
          type: boolean
      - name: update
        in: query
        description: 'Update if application exists

          '
        schema:
          type: boolean
      - name: ignoreTier
        in: query
        description: 'Ignore tier and proceed with subscribed APIs

          '
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: 'Zip archive consisting of exported Application Configuration.

                    '
                  format: binary
        required: true
      responses:
        200:
          description: 'OK.

            Successful response with the updated object information as entity in the body.

            '
          headers:
            Content-Type:
              description: 'The content type of the body.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInfo'
        207:
          description: 'Multi Status.

            Partially successful response with skipped APIs information object as entity in the body.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIInfoList'
        400:
          $ref: '#/components/responses/BadRequest'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
      - OAuth2Security:
        - apim:app_import_export
      x-code-samples:
      - lang: Curl
        source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -F file=@exportedApplication.zip "https://127.0.0.1:9443/api/am/devportal/v3/applications/import?preserveOwner=true&skipSubscriptions=false&appOwner=admin&skipApplicationKeys=false&update=true"'
      operationId: postApplicationsImport
      x-operation-id-source: derived
    servers:
    - url: https://apis.wso2.com/api/am/devportal/v3
components:
  schemas:
    ExportThrottlePolicy:
      title: Export Throttling Policy
      type: object
      properties:
        type:
          type: string
        subtype:
          type: string
        version:
          type: string
        data:
          type: object
    Error:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem'
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    ApplicationInfo:
      title: Application info object with basic application details
      type: object
      properties:
        applicationId:
          type: string
          example: 01234567-0123-0123-0123-012345678901
        name:
          type: string
          example: CalculatorApp
        throttlingPolicy:
          type: string
          example: Unlimited
        description:
          type: string
          example: Sample calculator application
        status:
          type: string
          example: APPROVED
          default: ''
        groups:
          type: array
          example: ''
          items:
            type: string
        subscriptionCount:
          type: integer
        attributes:
          type: object
          properties: {}
          example: External Reference ID, Billing Tier
        owner:
          type: string
          example: admin
        tokenType:
          type: string
          example: JWT
        createdTime:
          type: string
          readOnly: true
          example: 1651555310208
        updatedTime:
          type: string
          readOnly: true
          example: 1651555310208
    Error_2:
      title: Error object returned with 4XX HTTP status
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
        moreInfo:
          type: string
          description: 'Preferably an url with more details about the error.

            '
        error:
          type: array
          description: 'If there are more than one error list them out.

            For example, list out validation errors by each field.

            '
          items:
            $ref: '#/components/schemas/ErrorListItem_2'
    APIInfo:
      title: API Info object with basic API details.
      type: object
      properties:
        id:
          type: string
          example: 01234567-0123-0123-0123-012345678901
        name:
          type: string
          example: CalculatorAPI
        displayName:
          type: string
          example: Calculator API
          description: 'Display name of the API.

            This is the name that will be displayed in the Publisher and DevPortal.

            If not provided, the name will be used as the display name.

            '
        description:
          type: string
          example: A calculator API that supports basic operations
        context:
          type: string
          example: CalculatorAPI
        version:
          type: string
          example: 1.0.0
        type:
          type: string
          example: WS
        createdTime:
          type: string
          example: 1614020559444
        provider:
          type: string
          description: 'If the provider value is not given, the user invoking the API will be used as the provider.

            '
          example: admin
        lifeCycleStatus:
          type: string
          example: PUBLISHED
        thumbnailUri:
          type: string
          example: /apis/01234567-0123-0123-0123-012345678901/thumbnail
        avgRating:
          type: string
          description: Average rating of the API
          example: '4.5'
        throttlingPolicies:
          type: array
          description: List of throttling policies of the API
          example:
          - Unlimited
          - Bronze
          items:
            type: string
        advertiseInfo:
          $ref: '#/components/schemas/AdvertiseInfo'
        businessInformation:
          $ref: '#/components/schemas/APIBusinessInformation'
        isSubscriptionAvailable:
          type: boolean
          example: false
        monetizationLabel:
          type: string
          example: Free
        gatewayType:
          type: string
          example: solace
        gatewayVendor:
          type: string
          example: WSO2
        additionalProperties:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
              display:
                type: boolean
          description: 'Custom(user defined) properties of API

            '
          example: {}
        monetizedInfo:
          type: boolean
          example: true
        egress:
          type: boolean
          description: Whether the API is Egress or not
          default: false
          example: true
        subtype:
          type: string
          description: Subtype of the API.
          default: DEFAULT
          example: AIAPI
          readOnly: true
    APIBusinessInformation:
      type: object
      properties:
        businessOwner:
          type: string
          example: businessowner
        businessOwnerEmail:
          type: string
          example: businessowner@wso2.com
        technicalOwner:
          type: string
          example: technicalowner
        technicalOwnerEmail:
          type: string
          example: technicalowner@wso2.com
    AdvertiseInfo:
      title: API Advertise info object with advertise details
      type: object
      properties:
        advertised:
          type: boolean
          example: true
        apiExternalProductionEndpoint:
          type: string
          example: https://localhost:9443/devportal
        apiExternalSandboxEndpoint:
          type: string
          example: https://localhost:9443/devportal
        originalDevPortalUrl:
          type: string
          example: https://localhost:9443/devportal
        apiOwner:
          type: string
          example: admin
        vendor:
          type: string
          default: WSO2
          enum:
          - WSO2
          - AWS
    ErrorListItem_2:
      title: Description of individual errors that may have occurred during a request.
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: 'Description about individual errors occurred

            '
    APIInfoList:
      title: API Info List
      type: object
      properties:
        count:
          type: integer
          description: 'Number of API Info objects returned.

            '
          example: 1
        list:
          type: array
          items:
            $ref: '#/components/schemas/APIInfo'
  responses:
    Forbidden:
      description: Forbidden. The request must be conditional but no condition has been specified.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 403
            message: Forbidden
            description: The request must be conditional but no condition has been specified
            moreInfo: ''
            error: []
    Conflict:
      description: Conflict. Specified resource already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: Conflict
            description: Specified resource already exists
            moreInfo: ''
            error: []
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: Internal Server Error
            description: The server encountered an internal error. Please contact administrator.
            moreInfo: ''
            error: []
    NotFound:
      description: Not Found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Not Found
            description: The specified resource does not exist
            moreInfo: ''
            error: []
    BadRequest:
      description: Bad Request. Invalid request or validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 400
            message: Bad Request
            description: Invalid request or validation error
            moreInfo: ''
            error: []
    NotAcceptable:
      description: Not Acceptable. The requested media type is not supported.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          example:
            code: 406
            message: Not Acceptable
            description: The requested media type is not supported
            moreInfo: ''
            error: []
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:policies_import_export: Export and import policies related operations
            apim:admin: Manage all admin operations
            apim:tier_view: View throttling policies
            apim:tier_manage: Update and delete throttling policies
            apim:admin_tier_view: View throttling policies
            apim:admin_tier_manage: Update and delete throttling policies
            apim:bl_view: View deny policies
            apim:bl_manage: Update and delete deny policies
            apim:mediation_policy_view: View mediation policies
            apim:mediation_policy_create: Create and update mediation policies
            apim:app_owner_change: Retrieve and manage applications
            apim:app_settings_change: Change Application Settings
            apim:app_import_export: Import and export applications related operations
            apim:api_import_export: Import and export APIs related operations
            apim:api_product_import_export: Import and export API Products related operations
            apim:environment_manage: Manage gateway environments
            apim:environment_read: Retrieve gateway environments
            apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
            apim:api_workflow_approve: Manage workflows
            apim:bot_data: Retrieve bot detection data
            apim:tenantInfo: Retrieve tenant related information
            apim:tenant_theme_manage: Manage tenant themes
            apim:admin_operations: Manage API categories and Key Managers related operations
            apim:api_category: Manage API categories
            apim:admin_settings: Retrieve admin settings
            apim:admin_alert_manage: Manage admin alerts
            apim:api_workflow_view: Retrive workflow requests
            apim:scope_manage: Manage system scopes
            apim:role_manage: Manage system roles
            apim:admin_application_view: View Applications
            apim:keymanagers_manage: Manage Key Managers
            apim:api_provider_change: Retrieve and manage applications
            apim:llm_provider_manage: Manage LLM Providers
            apim:gov_policy_read: Retrieve governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Retrieve governance results
            apim:gov_rule_read: Retrieve governance rules
            apim:gov_rule_manage: Manage governance rules
            apim:organization_manage: Manage Organizations
            apim:organization_read: Read Organizations
x-refined-from:
- wso2-admin-api.yaml
- wso2-devportal-api.yaml
