openapi: 3.2.0
info:
  version: v1.1
  title: WSO2 API Manager - Governance Policy Adherence API
  description: This document specifies a **RESTful API** for WSO2 **API Manager** - Governance.
  contact:
    name: WSO2
    url: http://wso2.com/products/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://apis.wso2.com/api/am/governance/v1
tags:
- name: Policy Adherence
  description: for accessing policy adherence.
paths:
  /policy-adherence:
    get:
      summary: Retrieve adherence status for all policies
      description: Retrieve adherence status of all governance policies within the organization.
      operationId: getPolicyAdherenceForAllPolicies
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      tags:
      - Policy Adherence
      responses:
        '200':
          description: Ok. Successful response with adherence details for all policies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAdherenceList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Security:
        - apim:gov_result_read
  /policy-adherence/summary:
    get:
      summary: Retrieves the summary of adherence for all policies
      description: Retrieves the summary of adherence for all governance policies within the organization.
      operationId: getPolicyAdherenceSummary
      tags:
      - Policy Adherence
      responses:
        '200':
          description: OK. Successful response with adherence summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAdherenceSummary'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Security:
        - apim:gov_result_read
  /policy-adherence/{policyId}:
    get:
      summary: Retrieve adherence details for a specific policy
      description: Retrieve adherence details associated with a specific governance policy within the organization using its unique ID. The list of artifacts under the policy will only contain the artifacts visible to user
      operationId: getPolicyAdherenceByPolicyId
      tags:
      - Policy Adherence
      parameters:
      - $ref: '#/components/parameters/policyId'
      responses:
        '200':
          description: Ok. Successful response with adherence details for the specified policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAdherenceDetails'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Security:
        - apim:gov_result_read
components:
  schemas:
    Pagination:
      title: Pagination
      type: object
      properties:
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 1
        total:
          type: integer
          example: 10
        next:
          type: string
          description: 'Link to the next subset of resources qualified.

            Empty if no more resources are to be returned.

            '
        previous:
          type: string
          description: 'Link to the previous subset of resources qualified.

            Empty if current subset is the first subset returned.

            '
    ArtifactComplianceSummaryForPolicy:
      type: object
      description: Summary of compliance of artifacts evaluated against a specific policy.
      properties:
        compliant:
          type: integer
          description: Number of compliant artifacts.
          example: 6
        nonCompliant:
          type: integer
          description: Number of non-compliant artifacts.
          example: 4
    Error:
      title: Error object returned with 4XX HTTP Status
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: 'A detail description about the error message.

            '
    PolicyAdherenceList:
      type: object
      description: Policy adherence status of a list of policies.
      properties:
        count:
          type: integer
          description: Number of policies returned.
          example: 10
        list:
          type: array
          items:
            $ref: '#/components/schemas/PolicyAdherenceStatus'
        pagination:
          $ref: '#/components/schemas/Pagination'
    ArtifactComplianceForPolicy:
      type: object
      description: Compliance status of an artifact for a specific policy.
      properties:
        id:
          type: string
          description: UUID of the artifact.
          example: 123e4567-e89b-12d3-a456-426614174000
        status:
          type: string
          description: Status of the artifact's compliance to the policy.
          enum:
          - COMPLIANT
          - NON-COMPLIANT
          - NOT-APPLICABLE
          example: COMPLIANT
        info:
          $ref: '#/components/schemas/ArtifactInfo'
    ArtifactInfo:
      type: object
      description: Detailed information about an artifact.
      properties:
        name:
          type: string
          description: Name of the artifact.
          example: Test API
        type:
          type: string
          description: Type of the artifact.
          enum:
          - API
          example: API
        extendedType:
          type: string
          description: Extended type of the artifact.
          enum:
          - REST_API
          - ASYNC_API
          - MCP
          example: REST_API
        version:
          type: string
          description: Version of the artifact.
          example: 1.0.0
        owner:
          type: string
          description: Owner of the artifact.
          example: admin
    PolicyAdherenceStatus:
      type: object
      description: Provides adherence status of a policy.
      properties:
        id:
          type: string
          description: UUID of the policy.
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Name of the policy.
          example: Policy1
        status:
          type: string
          description: Status of the policy's governance compliance.
          enum:
          - FOLLOWED
          - VIOLATED
          - UNAPPLIED
          example: FOLLOWED
        artifactComplianceSummary:
          $ref: '#/components/schemas/ArtifactComplianceSummaryForPolicy'
    PolicyAdherenceSummary:
      type: object
      description: Summary of governance policy adherence in the organization.
      properties:
        total:
          type: integer
          description: Total number of policies.
          example: 10
        followed:
          type: integer
          description: Number of policies followed to.
          example: 6
        violated:
          type: integer
          description: Number of policies violated.
          example: 4
        unApplied:
          type: integer
          description: Number of policies unApplied.
          example: 0
    PolicyAdherenceDetails:
      type: object
      description: Provides adherence details of a policy.
      properties:
        id:
          type: string
          description: UUID of the policy.
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Name of the policy.
          example: Policy1
        status:
          type: string
          description: Status of the policy's governance compliance.
          enum:
          - FOLLOWED
          - VIOLATED
          - UNAPPLIED
          example: FOLLOWED
        evaluatedArtifacts:
          type: array
          description: Compliance status of the artifacts evaluated against the policy.
          items:
            $ref: '#/components/schemas/ArtifactComplianceForPolicy'
  parameters:
    limit:
      name: limit
      in: query
      description: 'Maximum size of resource array to return.

        '
      schema:
        type: integer
        default: 25
    policyId:
      name: policyId
      in: path
      description: '**UUID** of the Policy.

        '
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Starting point within the complete list of items qualified.

        '
      schema:
        type: integer
        default: 0
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            openid: Authorize access to user details
            apim:gov_rule_read: Read governance rulesets
            apim:gov_rule_manage: Manage governance rulesets
            apim:gov_policy_read: Read governance policies
            apim:gov_policy_manage: Manage governance policies
            apim:gov_result_read: Read governance results
